.login-wrapper{
    height: 100vh;
    display: flex;
}
.login-wrapper .login-left{
    background: transparent linear-gradient(180deg, #039286 0%, #014642 100%) 0% 0% no-repeat;
    height: 100%;
    width: 30%;
}
.login-wrapper .login-right{
    height: 100%;
    width: 70%;
}
.logo img{
    width: 80px;
    margin-right: 15px;
}
.logo h1,
.logo h5{
   color: var(--main-color);
   margin-bottom: 0;
}
.logo h5{
   letter-spacing: 4.93px;
}
.logo h1{
    font-weight: 700;
    font-size: 2rem;
}
a{
    font-size: 0.85rem;
    text-decoration: none;
}
@media only screen and (max-width: 768px){
    .login-wrapper .login-left{
        display:none
    }
    .login-wrapper .login-right{
        height: 100%;
        width: 100%;
    }
}
@media only screen and (max-width: 420px) {
    .login-wrapper .login-left{
        display:none
    }
    .login-wrapper .login-right{
        height: 100%;
        width: 100%;
    }
}
.demo{
    color: #039286;
}