<div class="login-wrapper">
    <div class="login-left"></div>
    <div class="login-right">
        <div class="d-flex justify-content-end py-2 pe-4">
            <a routerLink="../home" class="text-main text-decoration-none">
                <div class="d-flex w-100">
                    <mat-icon>keyboard_double_arrow_left</mat-icon>
                    <span>Go to Home Page</span>
                </div>
            </a>
        </div>

        <div class="container">
            <div class="row justify-content-center mt-5">
                <div class="col-sm-8 col-12 col-md-8 col-lg-4">
                    <div class="logo d-flex align-items-center mb-5">
                        <img src="assets/images/logo.png">
                        <div>
                            <h1>जिल्हा परिषद</h1>
                            <h5>उस्मानाबाद</h5>
                        </div>
                    </div>

                    <h5 class="mt-4 text-main mb-3">Forgot Password</h5>

                    <div class="mb-2 text-center mt-5">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Enter Mobile No.</mat-label>
                            <input matInput placeholder="Enter Mobile No.">
                        </mat-form-field>
                    </div>
                    <div class="mb-3">
                        <button mat-flat-button class="btn-main">Send OTP</button>
                    </div>

                    <div class="d-flex gap-3">
                        <div style="width: 54px;">
                            <mat-form-field appearance="outline" class="w-100 text-center">
                                <input matInput placeholder="X">
                            </mat-form-field>
                        </div>
                        <div style="width: 54px;">
                            <mat-form-field appearance="outline" class="w-100 text-center">
                                <input matInput placeholder="X">
                            </mat-form-field>
                        </div>
                        <div style="width: 54px;">
                            <mat-form-field appearance="outline" class="w-100 text-center">
                                <input matInput placeholder="X">
                            </mat-form-field>
                        </div>
                        <div style="width: 54px;">
                            <mat-form-field appearance="outline" class="w-100 text-center">
                                <input matInput placeholder="X">
                            </mat-form-field>
                        </div>
                        <div style="width: 54px;">
                            <mat-form-field appearance="outline" class="w-100 text-center">
                                <input matInput placeholder="X">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="mb-3">
                        <button mat-flat-button class="btn-main">Verify OTP</button>
                    </div>

                    <div class="mb-2">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Enter New password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="mb-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Retype password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <button mat-flat-button class="btn-main">Submit</button>
                        <a routerLink="../login" class="text-main">Back To Login</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>