<div class="login-wrapper">
    <div class="login-left"></div>
    <div class="login-right">
        <div class="d-flex justify-content-end py-2 pe-4">
            <a routerLink="../home" class="text-main text-decoration-none">
                <div class="d-flex w-100 align-items-center">
                    <mat-icon class="mb-1">keyboard_double_arrow_left</mat-icon>
                    <span>Go to Home Page</span>
                </div>
            </a>
        </div>

        <div class="container">
            <div class="row justify-content-center mt-5">
                <div class="col-sm-8 col-12 col-md-8 col-lg-4">
                    <!-- <div class="logo d-flex align-items-center mb-5">
                        <img src="assets/images/logo.png">
                        <div>
                            <h1>जिल्हा परिषद</h1>
                            <h5>उस्मानाबाद</h5>
                        </div>
                    </div> -->
                    <div class="logo d-flex align-items-center mb-5">
                        <img src="assets/images/logo.svg">
                    </div>

                    <h5 class="mt-4 text-main mb-3">Forgot Password</h5>

                    <ng-container *ngIf="mobileField">
                        <form [formGroup]="mobileForm" (ngSubmit)="sendOtp('send')">
                            <div class="mb-2 text-center mt-5">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Mobile No.</mat-label>
                                    <input matInput formControlName="mobileNo" maxlength="10"
                                        (keypress)="validation.onlyDigits($event)">
                                    <!-- <mat-error *ngIf="fcMobile['mobileNo'].hasError('required')">Mobile no. is required</mat-error> -->
                                    <mat-error *ngIf="fcMobile['mobileNo'].hasError('pattern')">Enter valid mobile no.</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="mb-3">
                                <button type="submit" mat-flat-button class="btn-main">Send OTP</button>
                            </div>
                        </form>
                    </ng-container>

                    <ng-container *ngIf="otpField">
                        <form [formGroup]="otpForm" (ngSubmit)="verifyOtp()">
                            <div class="d-flex gap-3">
                                <div style="width: 54px;">
                                    <mat-form-field appearance="outline" class="w-100 text-center">
                                        <input matInput formControlName="digitOne" #input1
                                            (input)="(input1.value.length == 1) ? input2.focus() : 'input1.focus()'"
                                            minlength="1" maxlength="1" (keypress)="validation.onlyDigits($event)">
                                    </mat-form-field>
                                </div>
                                <div style="width: 54px;">
                                    <mat-form-field appearance="outline" class="w-100 text-center">
                                        <input matInput formControlName="digitTwo" #input2
                                            (input)="(input2.value.length == 1) ? input3.focus() : 'input2.focus()'"
                                            minlength="1" maxlength="1" (keypress)="validation.onlyDigits($event)"
                                            (keyup.backspace)="input1.focus()">
                                    </mat-form-field>
                                </div>
                                <div style="width: 54px;">
                                    <mat-form-field appearance="outline" class="w-100 text-center">
                                        <input matInput formControlName="digitThree" #input3
                                            (input)="(input3.value.length == 1) ? input4.focus() : 'input3.focus()'"
                                            minlength="1" maxlength="1" (keypress)="validation.onlyDigits($event)"
                                            (keyup.backspace)="input2.focus()">
                                    </mat-form-field>
                                </div>
                                <div style="width: 54px;">
                                    <mat-form-field appearance="outline" class="w-100 text-center">
                                        <input matInput formControlName="digitFour" #input4
                                            (input)="(input4.value.length == 1) ? input5.focus() : 'input4.focus()'"
                                            minlength="1" maxlength="1" (keypress)="validation.onlyDigits($event)"
                                            (keyup.backspace)="input3.focus()">
                                    </mat-form-field>
                                </div>
                                <div style="width: 54px;">
                                    <mat-form-field appearance="outline" class="w-100 text-center">
                                        <input matInput formControlName="digitFive" #input5
                                            (input)="(input5.value.length == 1) ? input5.focus() : 'input4.focus()'"
                                            minlength="1" maxlength="1" (keypress)="validation.onlyDigits($event)"
                                            (keyup.backspace)="input4.focus()">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="mb-3">
                                <button type="submit" mat-flat-button class="btn-main">Verify OTP</button>
                            </div>

                            <p *ngIf="otpStatus" class="demo"><b>Resend Otp in :</b> {{timeLeft}}</p>
                            <a (click)="sendOtp('resend')" *ngIf="!otpStatus">
                                <p class="demo" style="cursor: pointer">Resend OTP</p>
                            </a>
                            
                            <div class="text-center">
                                <a class="text-main" (click)="mobileField=true;otpField=false;pauseTimer()"
                                    style="cursor: pointer">Go Back</a>
                            </div>
                        </form>
                    </ng-container>

                    <ng-container *ngIf="passwordField">
                        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
                            <div class="mb-2">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Enter New Password</mat-label>
                                    <input matInput formControlName="newPassword" [type]="hide ? 'password' : 'text'"
                                        (keypress)="validation.noFirstSpaceAllow($event)">
                                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"
                                        matTooltip="{{hide ? 'show' : 'hide'}}">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                    <!-- <mat-error *ngIf="fcPass['newPassword'].hasError('required')">New password is
                                        required</mat-error> -->
                                    <mat-error *ngIf="fcPass['newPassword'].hasError('pattern')"> Enter valid
                                        password</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="mb-3">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Confirm Password</mat-label>
                                    <input matInput formControlName="confirmPassword"
                                        [type]="hide1 ? 'password' : 'text'"
                                        (keypress)="validation.noFirstSpaceAllow($event)">
                                    <button type="button" mat-icon-button matSuffix (click)="hide1 = !hide1"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1"
                                        matTooltip="{{hide1 ? 'show' : 'hide'}}">
                                        <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                    <!-- <mat-error *ngIf="fcPass['confirmPassword'].hasError('required')">Confirm password
                                        is required</mat-error> -->
                                    <mat-error *ngIf="fcPass['confirmPassword'].hasError('pattern')">Enter valid
                                        password</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                                <button type="submit" mat-flat-button class="btn-main">Submit</button>
                                <a routerLink="../login" class="text-main">Back To Login</a>
                            </div>
                        </form>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>