<div class="sidebar close bg-main">
    <div class="logo-details">
      <img src="assets/images/logo.png" alt="Logo">
      <!-- <span class="logo_name">CodingLab</span> -->
    </div>
    <ul class="nav-links">
      <li>
        <a href="#">
          <img src="assets/images/menu-icons/dashboard-grey.svg">
          <span class="link_name">Dashboard</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Dashbaord</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <img src="assets/images/menu-icons/Masters-grey.svg">
            <span class="link_name">Masters</span>
          </a>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Masters</a></li>
          <li><a href="#"><img src="assets/images/menu-icons/Designation-grey.svg">Designation Master</a></li>
          <li><a href="#"><img src="assets/images/menu-icons/school-grey.svg">School Registration</a></li>
          <li><a href="#"><img src="assets/images/menu-icons/teacher-grey.svg">Teacher Registration</a></li>
          <li><a href="#"><img src="assets/images/menu-icons/student-grey.svg">Student Registration</a></li>
          <li><a href="#"><img src="assets/images/menu-icons/User-grey.svg">Office Users</a></li>
          <li><a href="#"><img src="assets/images/menu-icons/Agency-grey.svg">Agency Registration</a></li>
        </ul>
      </li>
</ul>
  </div>