<div class="sidebar close bg-main">
  <div class="logo-details">
    <img src="assets/images/logo-white.svg" alt="Logo">
  </div>
  <ul class="nav-links">
    <ng-container *ngFor="let pages of loginPages let i = index">
      <ng-container *ngIf="pages.pageURL.length <= 1">
        <li>
          <div class="iocn-link">
              <a>
                  <img src="{{pages.menuIcon}}">
                  <!-- <span class="link_name">{{pages.pageNameView}}</span> -->
              </a>
          </div>
          <ul class="sub-menu">
              <li><a class="link_name">{{WebStorageService.languageFlag == 'EN' ? pages.pageNameView : pages.m_PageNameView}}</a></li>
              <li><a routerLinkActive="active"
                       routerLink="/{{pages.pageURL}}">{{WebStorageService.languageFlag == 'EN' ? pages.pageName : pages.m_PageName}}</a>
              </li>
          </ul>
      </li>
      </ng-container>
      <ng-container *ngIf="pages.pageURL.length > 1">
        <li>
          <div class="iocn-link">
              <a>
                  <img src="{{pages.menuIcon}}">
                  <!-- <span class="link_name">{{pages.pageNameView}}</span> -->
              </a>
          </div>
          <ul class="sub-menu">
              <li><a class="link_name">{{WebStorageService.languageFlag == 'EN' ? pages.pageNameView : pages.m_PageNameView}}</a></li>
              <li *ngFor="let page of pages.pageURL; let pageUrlIndex = index">
                <a routerLinkActive="active" routerLink="/{{page}}">
                  <ng-container *ngFor="let pageName of WebStorageService.languageFlag == 'EN' ? pages.pageName : pages.m_PageName; let pageNameIndex = index">
                    <ng-container *ngIf="pageNameIndex == pageUrlIndex">{{pageName}}</ng-container>
                  </ng-container>
                </a>
              </li>
          </ul>
      </li>
      </ng-container>
    </ng-container>
  </ul>
</div>