
    
::ng-deep .mat-mdc-tooltip-panel-below .mat-mdc-tooltip::after {
    content: "";
    position: absolute !important;
    left: calc(50% - 8px) !important;
    top: -8px !important;
    width: 8px !important;
    height: 8px !important;
    border: 8px solid transparent !important;
    border-bottom-color: #616161 !important;
    background: transparent !important;
    opacity: 1 !important;
    transform: unset !important;
    transition: 100ms opacity !important;
}