<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page">Masters</li>
    <li class="breadcrumb-item active" aria-current="page">{{'Labels.agencyRegistration' | translate}}</li>
  </ol>
</nav>
<app-page-statistics></app-page-statistics>

<mat-card class="plain-card">
  <mat-card-header class="card-header">
    <div class="d-flex flex-wrap align-items-center justify-content-between w-100">
      <div class="text-main fw-bold mb-2 mb-lg-0">
        {{'Labels.AgencyList' | translate}}
      </div>
      <div class="d-flex align-items-center justify-content-end gap-2">
        <button mat-flat-button class="btn-main btn-icon">
          <mat-icon>
            table_view
          </mat-icon>
        </button>

        <button mat-flat-button class="btn-second btn-icon">
          <mat-icon>
            grid_view
          </mat-icon>
        </button>

        <button mat-flat-button class="bg-danger btn-icon text-white" title="Download as PDF" (click)="getTableData('pdfFlag')">
          <mat-icon>
            description
          </mat-icon>
        </button>
        <!-- <button mat-flat-button class="btn-main btn-icon" [matMenuTriggerFor]="menu">
          <mat-icon>
            download
          </mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button type="button" mat-menu-item (click)="downloadPdf()">
            <div class="d-flex align-items-center justify-content-between w-100">
              <span>PDF</span>
              <i class='bx bxs-file-pdf text-danger'></i>
            </div>
          </button>
        </mat-menu> -->
        <button mat-flat-button class="btn-main" (click)="addUpdateAgency()">
          <mat-icon>
            add
          </mat-icon>
          {{'Labels.addAgency' | translate}}
        </button>
      </div>
    </div>
  </mat-card-header>
  <form [formGroup]="filterForm">
    <mat-card-header class="card-header mb-0 pb-0 border-bottom-0">
      <div class="row gx-2 w-100">
        <div class="col-sm-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{'Labels.searchbyNameContactEmail' | translate}}</mat-label>
            <input matInput formControlName="searchText" (keypress)="validation.noFirstSpaceAllow($event)">
          </mat-form-field>
        </div>
        <div class="col-sm-auto">
          <button type="button" mat-flat-button class="btn-main" (click)="getTableData('filter')">{{'Labels.filter' |
            translate}}</button>
          <button type="button" mat-flat-button class="btn-second ms-2" (click)="onClear()">{{'Labels.clear' |
            translate}}</button>
        </div>
      </div>
    </mat-card-header>
  </form>
  <mat-card-content class="card-body pt-0">
    <app-table (recObjToChild)="childCompInfo($event)"></app-table>
  </mat-card-content>
</mat-card>