<mat-card class="plain-card">
    <mat-card-header class="card-header">
        <div class="d-flex align-items-center justify-content-between w-100">
            <h6 class="text-main mb-0">Register Teacher</h6>
            <button mat-icon-button mat-dialog-close class="btn-modal-close">
                <mat-icon>
                    close
                </mat-icon>
            </button>
        </div>
    </mat-card-header>

    <mat-card-content class="card-body">
        <div class="row mb-3">
            <div class="col-sm">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>First Name</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-sm">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Middle Name</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-sm">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Last Name</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-sm">
                <mat-form-field appearance="outline" class="w-100 ">
                    <mat-label>Gender</mat-label>
                    <mat-select>
                        <mat-option value="one">Male</mat-option>
                        <mat-option value="two">Female</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Mobile No.</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-sm">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Email ID</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-sm">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Birth Date</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

            </div>
            <div class="col-sm">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Age</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-sm">
                <mat-form-field appearance="outline" class="w-100 ">
                    <mat-label>Upload Photo</mat-label>
                    <input matInput>
                    <mat-icon matSuffix>
                        <span class="material-symbols-outlined">
                            upload
                        </span>
                    </mat-icon>
                </mat-form-field>
            </div>
        </div>
        <mat-card-subtitle>Address Details</mat-card-subtitle>
        <div class="row">
            <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100 ">
                    <mat-label>Current Address</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100 ">
                    <mat-label>Permanent Address</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>


    <mat-card-footer class="card-footer">
        <mat-card-actions align="end">
            <button mat-flat-button class="btn-second me-2">Cancel</button>
            <button mat-flat-button class="btn-main">Submit</button>
        </mat-card-actions>
    </mat-card-footer>
</mat-card>