.teacherForm{
    padding-top:7px ;
}
.teacherForm>label,
.teacherForm>span {
    position: relative;
    top: 0;
    left: 0;
    color: #2c2c2c;
    background-color: #e6454500;
    font-family: Lato;
    padding: 3px 10px;
    border-radius: 6px;
    transition: background-color 0.5s, top 0.1s;
    margin-left: 7px;
    border: 1px solid #ccc;
}
.teacherForm>input[type=checkbox] {
    height: 0px;
    width: 0px;
}
.teacherForm>input[type=checkbox]:checked+label,
.teacherForm>input[type=checkbox]:checked+span {
    background-color: var(--main-dark-color);
    color: #ccc;
}
.teacherForm > label:hover{
  top: -3px;
}