<mat-card class="plain-card h-100">
    <mat-card-content>
        <div class="row">
            <div class="col-sm-12">

                <div class="student-profile">
                    <h5 class="text-primary">प्रोफाइल</h5>
                </div>
                <div class="container">
                    <div class="student-details">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img [src]="data.docPath" alt="student-image" height="80px">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h6 class="mb-0">{{ languageFlag == 'EN' ? data.fullName : data.m_FullName }}</h6>
                                <p>{{languageFlag == 'EN' ? data.gender:data.m_Gender}}</p>
                                <div class="row mb-3">
                                    <div class="col-sm-4">
                                        <div class="form-label">{{'Labels.fatherName'| translate}}</div>
                                        <div class="form-deta">
                                            {{languageFlag == 'EN' ? data.fatherFullName: data.m_FatherFullName}}
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-label">मोबाईल क्रमांक:</div>
                                        <div class="form-deta">
                                            {{data.parentMobileNo}}
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-label">आधार क्रमांक:</div>
                                        <div class="form-deta">
                                            {{data.aadharNo}}
                                        </div>
                                        <div class="action-btn" *ngIf="imgPath">
                                            <button mat-icon-button class="btn-icon text-primary" type="button"
                                                (click)="viewImage()">
                                                <mat-icon>content_copy</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-label">शाळेचे नाव:</div>
                                        <div class="form-deta">
                                            {{languageFlag == 'EN' ? data.schoolName : data.m_SchoolName}}
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-label">{{'Labels.standard'| translate}}</div>
                                        <div class="form-deta">
                                            {{languageFlag == 'EN' ? data.standard:data.m_Standard}}
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-label">{{'Labels.caste'| translate}}</div>
                                        <div class="form-deta">
                                            {{languageFlag == 'EN' ?  data.caste : data.m_Caste}}
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-label">Religion</div>
                                        <div class="form-deta">
                                            {{languageFlag == 'EN' ? data.religion : data.m_Religion }}
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-label">{{'Labels.physicallyDisabled'| translate}}</div>
                                        <div class="form-deta">
                                            {{data.isHandicaped ? languageFlag == 'EN' ? 'Yes' : 'होय' :languageFlag == 'EN' ? 'No' :'नाही'}}
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-label">ID</div>
                                        <div class="form-deta">
                                            {{data.id}}
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-label">{{'Labels.taluka'| translate}} </div>
                                        <div class="form-deta">
                                            {{data.taluka}}
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-label">{{'Labels.kendra'| translate}} </div>
                                        <div class="form-deta">
                                            {{languageFlag == 'EN' ? data.taluka:data.m_Taluka}}
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-label">{{'Labels.district'| translate}} </div>
                                        <div class="form-deta">
                                            {{languageFlag == 'EN' ? data.district :data.m_District }}
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-label">{{'Labels.birthDate'| translate}}</div>
                                        <div class="form-deta">
                                            {{data.dob.split(' ')[0] }}
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-label">{{'Labels.motherName'| translate}} </div>
                                        <div class="form-deta">
                                            {{languageFlag == 'EN' ? data.motherName:data.m_MotherName}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </mat-card-content>

</mat-card>