<mat-card class="plain-card h-100">
<mat-card-content>
    <div class="row">
        <div class="col-sm-12">
            
                <div class="student-profile">
                    <h5 class="text-primary">प्रोफाइल</h5>
                </div>
                <div class="container">
                    <div class="student-details">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                              <img src="../../../../../assets/images/user.jpg" alt="student-image" height="80px">
                            </div>
                            <div class="flex-grow-1 ms-3">
                              <!-- <h6 class="mb-0">{{data.fullName}}</h6> -->
                              <!-- <p>{{data.gender}}</p> -->
                              <div class="row mb-3">
                                <div class="col-sm-4">
                                    <div class="form-label">वडीलांचे नावं:</div>
                                    <div class="form-deta">
                                        <!-- {{data.fatherFullName}} -->
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-label">मोबाईल क्रमांक:</div>
                                    <div class="form-deta">
                                        <!-- {{data.parentMobileNo}} -->
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-label">आधार क्रमांक:</div>
                                    <div class="form-deta">
                                        <!-- {{data.aadharNo}} -->
                                    </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-label">शाळेचे नाव:</div>
                                    <div class="form-deta">
                                        <!-- {{data.schoolName}} -->
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-label">वर्ग:</div>
                                    <div class="form-deta">
                                        <!-- {{data.standard}} -->
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-label">वर्ग शिक्षक :</div>
                                    <div class="form-deta">
                                        श्री.विनय गाडगे
                                    </div>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
 
</mat-card-content>

</mat-card>