small {
    font-family: 0.85rem;
    color: #515151;
}
.text-center.py-2.footerOuter {
    position: fixed;
    bottom: 0;
    width: calc(100% - 60px);
    background: #eee;
    box-shadow: 0 0 9px #0003;
    z-index: 1;
}