<mat-card class="plain-card border">
    <mat-card-header class="card-header pb-0 border-bottom-0">
        <div class="d-flex justify-content-end w-100">
            <mat-form-field appearance="outline" class="w-25">
                <mat-label>Subject</mat-label>
                <mat-select  [formControl]="subjectControl" (selectionChange)="constuctLineChart()">
                    <mat-option *ngFor="let sub of subjectArray" [value]="sub">{{sub}}</mat-option>
                </mat-select>
                <!-- <mat-error *ngIf="fc['standard'].hasError('required')"> {{'Labels.pleaseSelectStandard'| translate}} </mat-error> -->
            </mat-form-field>
        </div>
    </mat-card-header>
   
    <mat-card-content class="card-body pt-0">
        <div class="row">
            <mat-radio-group aria-label="Select an option" [formControl]="inspectionBy" (change)="getLineChartDetails()">
                <mat-radio-button value="0">Teacher</mat-radio-button>
                <mat-radio-button value="1">Officer</mat-radio-button>
            </mat-radio-group> 
        </div>
            <apx-chart
              [series]="lineChartOptions.series"
              [chart]="lineChartOptions.chart"
              [xaxis]="lineChartOptions.xaxis"
              [dataLabels]="lineChartOptions.dataLabels"
              [grid]="lineChartOptions.grid"
              [stroke]="lineChartOptions.stroke"
              [title]="lineChartOptions.title"
              [yaxis]="lineChartOptions.yaxis"
            ></apx-chart>
            {{inspectionBy.value=='0'?'Teacher':'Officer'}}
            <div class="table-responsive scrollbar">
                <table class="table dashboard-table mt-3">
                    <tbody>
                        <tr *ngFor="let item of tableArray; let j=index">
                            <td>{{j+1}}</td>
                            <td>{{webStorage.languageFlag == 'EN' ? item['name'] :
                                item['m_Name']}}
                            </td>
                            <td class="text-end">{{item['assessmentDate']}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div *ngIf="tableArray?.length ==0">
                <div class="alert alert-danger text-center py-2 ">
                    {{'Labels.dataNotFound' | translate}}
                </div>
            </div>
    </mat-card-content>
</mat-card>