<div class="table-responsive">
    <table mat-table [dataSource]="tableRecords" class="dashboard-table" matSort >
        <ng-container *ngFor="let columns of displayedColumns; let j=index" matColumnDef="{{columns}}">
            <ng-container *ngIf="columns !='action'">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{tableHeaders[j] | titlecase}}
                </th>
                <td mat-cell *matCellDef="let element let i=index">
                    <ng-container *ngIf="'srNo' ==columns">{{((pageNumber + 1) * 10 + i + 1)-20 | numberTranformPipe}}</ng-container>
                    <ng-container
                        *ngIf="'srNo' !=columns && tableInfo?.img != columns && tableInfo?.blink != columns && tableInfo?.badge !=  columns && tableInfo?.checkBox != columns">{{element[columns] | dash}}
                    </ng-container>
                    <ng-container *ngIf="tableInfo?.img == columns"><img class="table-img" src="{{element[columns] ? element[columns] : 'assets/images/user.jpg'}}"></ng-container>
                    <ng-container *ngIf="tableInfo?.blink == columns">{{element[columns] }}</ng-container>
                    <ng-container *ngIf="tableInfo?.badge == columns">{{element[columns] }}</ng-container>
                    <ng-container *ngIf="tableInfo?.checkBox == columns" >
                        <mat-checkbox class="example-margin" [checked]="tableInfo.tableData[i]?.readRight" (change)="action(element, 'checkBox', $event)"></mat-checkbox>
                    </ng-container>
                    <ng-container *ngIf="tableInfo?.isBlock == columns">
                        <mat-slide-toggle (change)="action(element, 'Block')">
                        </mat-slide-toggle>
                    </ng-container>
                </td>
            </ng-container>
            <ng-container *ngIf="columns =='action'">
                <th mat-header-cell *matHeaderCellDef class="action">
                    {{tableHeaders[j] | titlecase}}
                </th>
                <td mat-cell *matCellDef="let element let i=index">
                    <button mat-icon-button (click)="action(element, 'Edit', i)">
                        <mat-icon class="text-main">
                            edit
                        </mat-icon>
                    </button>
                    <button mat-icon-button (click)="action(element, 'Delete')">
                        <mat-icon class="text-danger">
                            delete
                        </mat-icon>
                    </button>
                </td>
            </ng-container>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; let i=index" [ngClass]="{'highlightedRow ':highlightedRow == i}"></tr>
    </table>
</div>
<!-- <mat-paginator *ngIf="tableInfo?.tableData?.length!=0 && tableInfo?.pagintion" showFirstLastButtons [length]="tableSize" -->
    <mat-paginator *ngIf="tableInfo?.tableSize > 10 && tableInfo?.pagintion" showFirstLastButtons [length]="tableSize"
    (page)="action($event, 'Pagination')" [pageSizeOptions]="[10]" aria-label="Select page" class="m-0">
</mat-paginator>

<div *ngIf="tableInfo?.tableData?.length ==0">
    <div class="alert alert-danger text-center py-2 ">
        Data not available
    </div>
</div>