<table mat-table [dataSource]="tableRecords" class="mat-elevation-z8">
    <ng-container *ngFor="let columns of displayedColumns; let j=index" matColumnDef="{{columns}}">
        <ng-container *ngIf="columns !='action'">
            <th mat-header-cell *matHeaderCellDef>
                {{tableHeaders[j] | titlecase}}
            </th>
            <td mat-cell *matCellDef="let element;let i=index">
                <ng-container
                    *ngIf="tableInfo?.img != columns && tableInfo?.blink != columns && tableInfo?.badge !=  columns && tableInfo?.isBlock!=columns">{{element[columns]}}
                </ng-container>
                <ng-container *ngIf="tableInfo?.srno == columns"> {{((pageNumber + 1) * 10 + i + 1)-20}}</ng-container>
                <ng-container *ngIf="tableInfo?.srno == columns"><img src="{{element[columns]}}"></ng-container>
                <ng-container *ngIf="tableInfo?.blink == columns">{{element[columns]}}</ng-container>
                <ng-container *ngIf="tableInfo?.badge == columns">{{element[columns]}}</ng-container>
                <ng-container *ngIf="tableInfo?.isBlock == columns">
                    <mat-slide-toggle (change)="checkBlock(element)" [(ngModel)]="element[columns]">
                    </mat-slide-toggle>
                </ng-container>
            </td>
        </ng-container>
        <ng-container *ngIf="columns =='action'">
            <th mat-header-cell *matHeaderCellDef>
                {{columns | titlecase}}
            </th>
            <td mat-cell *matCellDef="let element">
                <a (click)="action(element, 'Delete')">Delete </a>
                <a (click)="action(element, 'Edit')"> Edit</a>
            </td>
        </ng-container>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator *ngIf="tableInfo?.tableData?.length!=0" [length]="tableSize" (page)="onPagintion($event)"
    [pageSizeOptions]="[10]" aria-label="Select page">
</mat-paginator>

<div *ngIf="tableInfo?.tableData?.length ==0">
    <div class="alert alert-danger text-center py-2 ">
        Data not available
    </div>
</div>