<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" routerLink="../dashboard">Dashbaord</li>
        <li class="breadcrumb-item active" aria-current="page">Student Details</li>
    </ol>
</nav>

<mat-card class="plain-card h-100">
    <mat-card-header class="card-header pb-0 border-bottom-0">
        <form [formGroup]="filterForm" class="w-100">
            <div class="row gx-2 justify-content-end">
                <div class="col-sm-2">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.taluka'| translate}}</mat-label>
                        <mat-select formControlName="talukaId"
                            (selectionChange)="clearDropdown('talukaId');getAllCenter()">
                            <mat-option *ngFor="let tal of talukaArr" [value]="tal.id">{{languageFlag == 'English' ?
                                tal.taluka:tal.m_Taluka }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-2">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.kendra'| translate}}</mat-label>
                        <mat-select formControlName="centerId"
                            (selectionChange)="clearDropdown('centerId');getAllSchoolsByCenterId()">
                            <mat-option *ngFor="let cen of centerArr" [value]="cen.id">{{languageFlag == 'English'
                                ?cen.center:cen.m_Center}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.schoolList'| translate}}</mat-label>
                        <mat-select formControlName="schoolId">
                            <mat-option *ngFor="let sch of schoolArr" [value]="sch.id">{{languageFlag == 'English' ?
                                sch.schoolName:sch. m_SchoolName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-2">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.standard'| translate}}</mat-label>
                        <mat-select formControlName="standardId">
                            <mat-option *ngFor="let stan of standardArr" [value]="stan.id">{{languageFlag == 'English'
                                ?stan.standard:stan.m_Standard}}</mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="fc['standard'].hasError('required')"> {{'Labels.pleaseSelectStandard'| translate}} </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="col-sm-2">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>Subject</mat-label>
                        <mat-select formControlName="subjectId">
                            <mat-option *ngFor="let sub of subjectArr" [value]="sub.id">{{languageFlag == 'English'
                                ?sub.subject:sub.m_Subject}}</mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="fc['standard'].hasError('required')"> {{'Labels.pleaseSelectStandard'| translate}} </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="col-sm-auto">
                    <button mat-flat-button class="btn-main" (click)="getTableData('filter')">{{'Labels.filter'|
                        translate}}</button>
                    <button mat-flat-button class="btn-second ms-2" (click)="clearForm()">{{'Labels.clear'|
                        translate}}</button>
                </div>
            </div>
        </form>

    </mat-card-header>
    <mat-card-content class="card-body pt-0">
        <div class="row">
            <div class="col-sm-5">
                <div class="table-height scrollbar">
                    <app-table (recObjToChild)="childTableCompInfo($event)"></app-table>
                </div>
            </div>
            <div class="col-sm-7" *ngIf="data">
                <mat-card class="plain-card h-100">
                    <mat-card-header class="card-header">
                        <div class="d-flex align-items-center justify-content-between w-100">
                            <h6 class="mb-0 text-main">{{'Labels.profile'| translate}}</h6>
                        </div>
                    </mat-card-header>
                    <mat-card-content class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="student-bg">
                                </div>
                                <div class="student-details">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0">
                                            <img [src]="data?.headerImage" alt="student-image" height="80px">
                                        </div>
                                        <div class="flex-grow-1 ms-3 pt-4">
                                            <h5 class="mb-1 fw-bold">{{ data?.header }}</h5>
                                            <p class="text-muted mb-4">{{ data?.subheader }}</p>

                                            <div class="data-container">
                                                <div class="row mb-3 gy-3">
                                                    <div class="col-sm-4"
                                                        *ngFor="let head of data?.labelHeader; let j=index">
                                                        <span class="data-label">{{head}} :</span>
                                                        <div class="data-text">{{ data?.Obj[data?.labelKey[j]] || '-'}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <mat-card class="plain-card border" *ngIf="data?.chart == true">
                                                <mat-card-content class="card-body">
                                                    chart
                                                </mat-card-content>
                                            </mat-card>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </mat-card-content>

                </mat-card>
            </div>
        </div>
    </mat-card-content>
</mat-card>