<mat-card class="plain-card h-100">
    <mat-card-content>
        <div class="row">
            <div class="col-sm-12">

                <div class="student-profile">
                    <h5 class="text-primary">{{'Labels.profile'| translate}} </h5>
                </div>
                <div class="container">
                    <div class="student-details">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img [src]="data.headerImage" alt="student-image" height="80px">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h6 class="mb-0">{{ data?.header }}</h6>
                                <p>{{ data?.subheader }}</p>

                                <div class="row mb-3" *ngFor="let head of data.labelHeader; let j=index">
                                    <div class="col-sm-4">
                                        <div class="form-label">{{head}}</div>
                                        <div class="form-deta">
                                            {{ data?.Obj[data?.labelKey[j] || '-']}}
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
