<mat-card class="plain-card">
    <mat-card-header class="card-header">
        <div class="d-flex align-items-center justify-content-end w-100">
            
            <button type="button" mat-icon-button mat-dialog-close class="btn-modal-close" (click)="closeDialog()">
                <mat-icon>
                    close
                </mat-icon>
            </button>
        </div>
    </mat-card-header>
    <mat-card-content class="card-body">
        <div class="row mb-3">
            <div class="col-sm-12">
                <div class="student-bg">
                    <h6 class="mb-0 text-main fw-bold">{{'Labels.profile'| translate}}</h6>
                    <hr class="mt-1">
                </div>
                <div class="student-details">
                    <div class="d-flex">
                        <div class="flex-shrink-0">
                            <img [src]="data?.headerImage" alt="student-image">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h5 class="mb-1 fw-bold">{{ data?.header }}</h5>
                            <p class="text-muted mb-0" style="height:32px;">{{ data?.subheader || data?.Obj.village }}</p>

                            <div class="data-container">
                                <div class="row mb-3 gy-3">
                                    <div class="col-sm-4" *ngFor="let head of data.labelHeader; let j=index">
                                        <span class="data-label" *ngIf="data?.checkbox != head">{{head}} :</span>
                                        <div class="data-text" *ngIf="data?.checkbox != head">{{
                                            data?.Obj[data?.labelKey[j]] || '-'}}</div>

                                    </div>
                                    <div class="col-sm-12">
                                        <span class="data-label" *ngIf="data?.checkbox == 'Subject'">{{'Labels.Subject'| translate}}</span>
                                        <div class="data-text d-flex flex-wrap">
                                            <div *ngFor="let assign of data?.Obj?.assignSubject" class="lang-badge">
                                                {{ webStorage.languageFlag == 'EN' ? assign.subjectName :
                                                assign.m_SubjectName || '-'}}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <mat-card class="plain-card border" *ngIf="data?.chart == true">
                                <mat-card-content class="card-body">
                                    chart
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-3" *ngIf="data?.multipleImage == true">
            <div class="col-sm-3" *ngFor="let item of items; index as i">
                <img [lightbox]="i" [src]="item.data.src" class="gallery-img">
            </div>
        </div>
    </mat-card-content>

</mat-card>