<mat-card class="plain-card">
    <mat-card-content class="card-body card-height-full scrollbar">
        <div class="row mb-3">
            <div class="col-sm-12">
                <div class="student-bg">
                    <p class="mb-0 text-main fw-bold">{{'Labels.profile'| translate}}</p>
                    <button type="button" mat-icon-button mat-dialog-close class="btn-modal-close" (click)="closeDialog()">
                        <mat-icon class="fs-6"> close </mat-icon>
                    </button>
                </div>
                <div class="student-details">
                    <div class="d-flex">
                        <div class="flex-shrink-0">
                            <img [src]="data?.headerImage ? data?.headerImage : 'assets/images/user.png'" alt="student-image">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h5 class="mb-1 fw-bold">{{ data?.header }}</h5>
                            <p class="text-muted mb-0" style="height:32px;">{{ data?.subheader || data?.Obj.village }}</p>

                            <div class="data-container">
                                <div class="row mb-3 gy-3">
                                    <div class="col-sm-6" *ngFor="let head of data.labelHeader; let j=index">
                                        <div class="row g-0">
                                            <div class="col-6 col-sm-5">
                                                <span class="data-label" *ngIf="data?.checkbox != head">{{head}}</span>
                                            </div>
                                            <div class="col-6 col-sm-7">
                                                <div class="data-text" *ngIf="data?.checkbox != head">
                                                    :{{data?.Obj[data?.labelKey[j]] || '-'}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <span class="data-label" *ngIf="data?.checkbox == 'Subject' || data?.checkbox == 'विषय'">{{'Labels.Subject'| translate}}</span>
                                        <div class="data-text d-flex flex-wrap">
                                            <div *ngFor="let assign of data?.Obj?.assignSubject" class="lang-badge">
                                                {{webStorage.languageFlag == 'EN' ? assign.subjectName :
                                                assign.m_SubjectName || '-'}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <mat-card class="plain-card border" *ngIf="data?.chart">
                                <mat-card-content class="card-body">
                                    <progressChartLine></progressChartLine>
                                </mat-card-content>
                            </mat-card> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-3" *ngIf="data?.multipleImage == true && items.length > 0">
            <mat-label>{{'Labels.SchoolPhotos'| translate}} : </mat-label>
            <div class="col-3 col-sm-3" *ngFor="let item of items; index as i">
                <img [lightbox]="i" [src]="item.data.src" class="gallery-img">
            </div>
        </div>
        <div *ngIf="data?.chart">
            <progressChartLine></progressChartLine>
        </div>
    </mat-card-content>
</mat-card>