.mat-mdc-menu-content {
    padding: 0 !important;
}

.mdc-list-item__primary-text {
    width: 100% !important;
    font-size: 0.85rem !important;
    font-family: 'Poppins', sans-serif !important;
}