<div class="row">
    <div class="col-sm-4 g-3" *ngFor="let tData of tableInfo?.tableData; let j=index">
      <mat-card class="card card-view">
        <mat-card-header class="card-header bg-transparent border-bottom-0">
            <div class="d-flex justify-content-between w-100">
              <div class="text-end">
                <button mat-flat-button class="btn-main btn-icon btn-sm"  matTooltip="{{'Labels.profileView' | translate}}" matTooltipPosition="right"  matTooltipClass="tooltip" (click)="action(tData, 'View')">
                  <mat-icon>
                    visibility
                  </mat-icon>
                </button>
              </div>
              <button mat-icon-button (click)="action(tData, 'Edit')" class="btn-second btn-icon btn-sm" matTooltip="{{'Labels.edit' | translate}}" matTooltipPosition="below"  matTooltipClass="tooltip">
                <mat-icon>
                  edit
                </mat-icon>
              </button>
            </div>
        </mat-card-header>
        <mat-card-content class="card-body form-container">
          <div class="text-center mb-3">
            <img src="{{tData['docPath'] || tData['uploadImage'] || 'assets/images/user.png'}}" alt="user"class="user-img">
          </div>
          <div class="row " *ngFor="let columns of displayedColumns; let j=index">
            <div class="col-5 col-sm-5 form-label text-start" *ngIf=" '#' != columns && 'srNo' != columns && 'docPath' != columns && 'uploadImage' != columns && 'action' != columns">
              {{tableHeaders[j]}}
            </div>
            <div class="col-7 col-sm-7 form-data text-start" *ngIf="'srNo' != columns && 'docPath' != columns && 'uploadImage' != columns && 'action' != columns">
              : {{tData[columns]}}
            </div>
            
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <mat-paginator *ngIf="tableInfo?.tableSize > 10 && tableInfo?.pagintion" showFirstLastButtons [length]="tableSize"
      (page)="action($event, 'Pagination')" [pageSizeOptions]="[10]" aria-label="Select page" class="m-0">
    </mat-paginator>

    <div *ngIf="tableInfo?.tableSize == 0">
      <div class="alert alert-danger text-center py-2 ">
          <span *ngIf="webStorageService.languageFlag =='EN'" >Data not available</span> 
          <span *ngIf="webStorageService.languageFlag =='mr-IN'" >डेटा उपलब्ध नाही</span> 
          <!-- {{'Labels.dataNotAvailable' | translate}} -->
      </div>
  </div>
  </div>

 