.card-view{
    box-shadow: none;
    border-radius:10px;
    border: solid 1px #ddd;
}
.card-view .material-icons{
    font-size: 18px !important;
}
.card-view .user-img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
