<mat-card>
    <mat-card-header class="mb-0 pb-0">
        <div class="d-flex">
            <mat-form-field appearance="outline" class="w-100 me-2">
                <mat-label>Input</mat-label>
                <input matInput [formControl]="searchContent">
            </mat-form-field>
            <button mat-stroked-button (click)="getTableData('filter')" class="btn-main">Filter</button>
        </div>
    </mat-card-header>
    <mat-card-content>
        <app-table (recObjToChild)="childCompInfo($event)"></app-table>
    </mat-card-content>
</mat-card>