<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">Settings</li>
        <li class="breadcrumb-item active" aria-current="page">Page Right Access</li>
    </ol>
</nav>
<mat-card class="plain-card">
    <mat-card-header class="card-header">
        <div class="d-flex align-items-center flex-wrap justify-content-between w-100">
            <div class="text-main fw-bold">
                Page Right Access
            </div>
        </div>
    </mat-card-header>
    <mat-card-header class="card-header pb-0 border-bottom-0">
        <form [formGroup]="userRightFrm" (ngSubmit)="onSubmit()" class="w-100">
            <div class="row w-100 gx-2">
                <div class="col-sm-2">
                    <mat-form-field appearance="outline" class="w-100 me-2 mb-0">
                        <mat-label>{{'Labels.userType' | translate}}</mat-label>
                        <mat-select formControlName="userType"
                            (selectionChange)="getSubUserType(userRightFrm.value.userType); this.initialLoadFlag = false;">
                            <mat-option *ngFor="let u of UserTypeArr" [value]="u.userTypeId">{{ langTypeName=='English'
                                ? u.userType : u.m_UserType}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-2">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.subUserType' | translate}}</mat-label>
                        <mat-select formControlName="subUserType">
                            <mat-option *ngFor="let u of SubUserTypeArr"
                                [value]="u.subUserTypeId">{{langTypeName=='English' ? u.subUserType :
                                u.m_SubUserType}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-2">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.searchPage' | translate}}</mat-label>
                        <input matInput formControlName="Textsearch" (keypress)="validation.noSpacesAtStart($event)"
                            maxlength="100">
                    </mat-form-field>
                </div>
                <div class="col-sm-auto">
                    <button mat-stroked-button (click)="getUserRightPageList()" class="btn-main">{{'Labels.filter' |
                        translate}}</button>
                    <button type="button" mat-stroked-button class="btn-second ms-2"
                        (click)="resetFilter()">{{'Labels.clear' | translate}}</button>
                </div>
            </div>
        </form>
    </mat-card-header>
    <mat-card-content class="card-body pt-0">
        <app-table (recObjToChild)="childCompInfo($event)"></app-table>
    </mat-card-content>
</mat-card>