<mat-card class="plain-card">

    <mat-card-header class="card-header">
        <div class="d-flex align-items-center justify-content-between w-100">
            <h6 class="text-main mb-0">
                Register Office Users</h6>
            <button mat-icon-button mat-dialog-close class="btn-modal-close">
                <mat-icon>
                    close
                </mat-icon>
            </button>
        </div>
    </mat-card-header>
    <form [formGroup]="officeForm" (ngSubmit)="submitOfficeData()">
    <mat-card-content class="card-body mb-0">
        <div class="row">
            <div class="col-sm-4">
                <mat-form-field appearance="outline" class="w-100 ">
                    <mat-label>Level</mat-label>
                    <mat-select placeholder="select" formControlName="designationLevelId" >
                        <mat-option [value]="level.id"   *ngFor="let level of levels" (onSelectionChange)="getDesignationByLevelId()">{{level.designationLevel}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="outline" class="w-100 ">
                    <mat-label>Designation (Officer)</mat-label>
                    <mat-select placeholder="select" formControlName="designationId">
                        <mat-option  [value]="desig.id" *ngFor="let desig of designations">{{desig.designationType}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="outline" class="w-100 ">
                    <mat-label>District</mat-label>
                    <mat-select placeholder="select" formControlName="districtId">
                        <mat-option [value]="dist.id" *ngFor="let dist of districts">{{dist.district}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Name" formControlName="name">

                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Mobile No.</mat-label>
                    <input matInput placeholder="Mobile No." formControlName="mobileNo">
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Email ID</mat-label>
                    <input matInput placeholder="Email ID" formControlName="emailId">
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
    <mat-card-footer class="d-flex justify-content-end card-footer mb-0">
        <button mat-flat-button type="button" mat-dialog-close class="btn-second me-2">Cancel</button>
        <button mat-flat-button type="submit" class="btn-main">{{data ? 'Update' :'Submit'}}</button>
    </mat-card-footer>
</form>
</mat-card>