<mat-drawer-container class="example-container" hasBackdrop="true">
    <mat-drawer #drawer mode="over" position="end">
        <mat-card class="plain-card">
            <mat-card-header class="card-header">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <h6 class="text-main mb-0 fw-bold">Filters</h6>
                    <button mat-icon-button class="btn-modal-close" mat-dialog-close (click)="this.drawer.close()">
                        <mat-icon>
                            close
                        </mat-icon>
                    </button>
                </div>
            </mat-card-header>
            <mat-card-content class="card-body">
                <form [formGroup]="filterForm">
                    <div class="mb-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>तालुका निवडा</mat-label>
                            <mat-select formControlName="talukaId"
                                (selectionChange)="f['talukaId'].value!=0? getCenters():''; dashboardAPis(); clickOnSvgMap('select')">
                                <mat-option *ngFor="let taluka of talukaData" [value]="taluka.id">
                                    {{webStorage.languageFlag == 'EN'?taluka.taluka:taluka.m_Taluka}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="mb-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>केंद्र निवडा</mat-label>
                            <mat-select formControlName="centerId" (selectionChange)="getschools() ;dashboardAPis()">
                                <mat-option *ngFor="let center of centerData" [value]="center.id">
                                    {{webStorage.languageFlag == 'EN'?center.center:center.m_Center}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="mb-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>शाळा निवडा</mat-label>
                            <mat-select formControlName="schoolId"
                                (selectionChange)="getbarChartByTaluka();getdashboardCount();">
                                <mat-option *ngFor="let school of schoolData" [value]="school.id">
                                    {{webStorage.languageFlag == 'EN'?school.schoolName :school.m_SchoolName }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="d-flex justify-content-end">
                        <button mat-flat-button type="button" class="me-2 btn-second" mat-dialog-close
                            (click)="this.drawer.close()">Cancel</button>
                        <button mat-flat-button type="submit" class="btn-main btn">Filter</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>

    </mat-drawer>
    <mat-drawer-content>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item w-100" aria-current="page">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <span>{{'Labels.dashboard' | translate}}</span>
                        <button mat-stroked-button class="btn-main btn-icon" (click)="drawer.toggle()">
                            <mat-icon>filter_alt</mat-icon>
                        </button>
                    </div>
                </li>
            </ol>
        </nav>


        <div class="row mb-3 g-2" id="dash-stats">
            <div class="col-sm-3">
                <div class="card card-body bg-blue">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="position-relative">
                            <img src="assets/images/statistical-icons/School-white.svg" class="bg-image">
                            <p>School</p>
                            <h3>{{dashboardCountData[0]?.schoolCount}}</h3>
                        </div>
                        <div class="right-img">
                            <img src="assets/images/statistical-icons/School.svg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card card-body bg-cyan">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="position-relative">
                            <img src="assets/images/statistical-icons/Teacher-white.svg" class="bg-image">
                            <p>Teachers</p>
                            <h3>{{dashboardCountData[0]?.teacherCount}}</h3>
                        </div>
                        <div class="right-img">
                            <img src="assets/images/statistical-icons/Teacher.svg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card card-body bg-voilet">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="position-relative">
                            <img src="assets/images/statistical-icons/Student-white.svg" class="bg-image">
                            <p>Students</p>
                            <h3>{{dashboardCountData[0]?.studentCount}}</h3>
                        </div>
                        <div class="right-img">
                            <img src="assets/images/statistical-icons/Student.svg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card card-body bg-magenta">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="position-relative">
                            <img src="assets/images/statistical-icons/ZP-Officer-white.svg" class="bg-image">
                            <p>ZP Officers</p>
                            <h3>{{dashboardCountData[0]?.zpOfficerCount}}</h3>
                        </div>
                        <div class="right-img">
                            <img src="assets/images/statistical-icons/ZP-Officer.svg">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-4">
                <mat-card class="plain-card h-100">
                    <mat-card-header class="card-header">
                        <h6 class="mb-0 fw-bold">नकाशा</h6>
                    </mat-card-header>
                    <mat-card-content class="card-body">
                        <div id="mapsvg">
                            <!-- <img src="assets/distSVG/Osmanabad.svg" style="height: 200px;" class=""> -->
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-sm-8">
                <mat-card class="plain-card h-100">
                    <mat-card-header class="card-header">
                        <h6 class="d-flex align-items-center justify-content-between w-100 mb-0 fw-bold">
                            <div>सर्वेक्षण केलेल्या विद्यार्थ्यांची एकूण संख्या</div>
                            <div>निवडलेली संख्या : <span class="fw-bold">{{this.selectedSurveyData}}</span></div>
                        </h6>
                    </mat-card-header>

                    <mat-card-content class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table inner-table mb-3 table-bordered">
                                    <thead>
                                        <tr>
                                            <th *ngFor="let header of totalStudentSurveyData">
                                                <div class="row align-items-start">
                                                    <div class="col-sm-auto" *ngIf="header.ischeckboxShow==false">
                                                        {{webStorage.languageFlag == 'EN'?
                                                        header?.groupClass:header?.m_GroupClass }}
                                                    </div>
                                                    <div class="col-sm">
                                                        <div class="d-flex align-items-center justify-content-center"
                                                            *ngIf="header.ischeckboxShow==true">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio"
                                                                    id="header.label" name="std" value="header.status"
                                                                    [disabled]="header.status==true"
                                                                    (click)="checkData(header, 'radio')"
                                                                    [checked]="header.status">
                                                                <label class="form-check-label" for="flexCheckDefault">
                                                                    {{webStorage.languageFlag == 'EN'?
                                                                    header?.groupClass:header?.m_GroupClass }}
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="row" *ngIf="header.status==true">
                                                            <div class="col-sm"
                                                                *ngFor="let std of header.standardDetails">
                                                                <div
                                                                    class="d-flex align-items-center justify-content-start">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="checkbox"
                                                                            [(ngModel)]="std.status"  (click)="checkData(header, 'checkbox')">
                                                                        <label class="form-check-label"
                                                                            for="flexCheckDefault">
                                                                            {{webStorage.languageFlag == 'EN'?
                                                                            std?.standard:std?.m_Standard }}
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <!-- <div *ngIf="header.status==false">
                                                    &nbsp;
                                                </div> -->
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td *ngFor="let item of totalStudentSurveyData">
                                                <div *ngIf="item.status!=true"> {{item?.assessmentCount+"/"+item?.studentCount}}</div>
                                                <div class="row" *ngIf="item.status==true">
                                                    <div class="col-sm"
                                                        *ngFor="let std of item.standardDetails">
                                                        <div class="d-flex align-items-center justify-content-start">
                                                            <div class="form-check">
                                                               {{(std?.assessmentCount+'/'+std?.studentCount)}} 
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="d-flex chart-container scrollbar" *ngIf="showBarChartF">
                                <div class="border-end" *ngFor="let bar of barchartOptions.series[0]; let i=index">
                                    <h6 class="fw-bold text-center mb-0">{{graphSubjectData[i]}}</h6>
                                    <apx-chart [series]="bar" [chart]="barchartOptions.chart"
                                        (click)="selectedBar(graphSubjectData[i])"
                                        [dataLabels]="barchartOptions.dataLabels"
                                        [plotOptions]="barchartOptions.plotOptions"
                                        [responsive]="barchartOptions.responsive" [xaxis]="barchartOptions.xaxis"
                                        [legend]="barchartOptions.legend" [fill]="barchartOptions.fill"></apx-chart>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-4">
                <mat-card class="plain-card h-100">
                    <mat-card-header class="card-header">
                        <h6 class="mb-0 fw-bold">Management wise Schools</h6>
                    </mat-card-header>
                    <mat-card-content class="card-body">
                        <div id="chart">
                            <apx-chart [series]="piechartOptions.series" [chart]="piechartOptions.chart"
                                [theme]="piechartOptions.theme" [fill]="piechartOptions.fill"
                                [labels]="piechartOptions.labels" [responsive]="piechartOptions.responsive"></apx-chart>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-sm-4">
                <mat-card class="plain-card h-100">
                    <mat-card-header class="card-header">
                        <h6 class="mb-0 fw-bold">Medium wise Schools</h6>
                    </mat-card-header>
                    <mat-card-content class="card-body">
                        <div id="chart">
                            <apx-chart [series]="piechartOptions1.series" [chart]="piechartOptions1.chart"
                                [theme]="piechartOptions1.theme" [fill]="piechartOptions1.fill"
                                [labels]="piechartOptions1.labels"
                                [responsive]="piechartOptions1.responsive"></apx-chart>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-sm-4">
                <mat-card class="plain-card h-100">
                    <mat-card-header class="card-header">
                        <h6 class="mb-0 fw-bold">Gender wise Schools</h6>
                    </mat-card-header>
                    <mat-card-content class="card-body">
                        <div id="chart">
                            <apx-chart [series]="piechartOptions2.series" [chart]="piechartOptions2.chart"
                                [theme]="piechartOptions2.theme" [fill]="piechartOptions2.fill"
                                [labels]="piechartOptions2.labels"
                                [responsive]="piechartOptions2.responsive"></apx-chart>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-12">
                <mat-card class="plain-card">
                    <mat-card-header class="card-header">
                        <div class="d-flex align-items-center flex-wrap justify-content-between w-100">
                            <h6 class="mb-0 fw-bold">तालुका निहाय मूल्यांकन</h6>
                        </div>
                    </mat-card-header>
                    <mat-card-header class="card-header pb-0 border-bottom-0">
                        <form [formGroup]="filterFormForBarGraph" class="w-100">
                            <div class="row w-100">
                                <div class="col-sm-3" *ngIf="!f['talukaId'].value">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>तालुका निवडा</mat-label>
                                        <mat-select formControlName="filtertalukaId"
                                            (selectionChange)="this.getbarChartByTaluka()">
                                            <mat-option *ngFor="let taluka of talukaData" [value]="taluka.id">
                                                {{webStorage.languageFlag == 'EN'?taluka.taluka:taluka.m_Taluka}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-3"
                                    *ngIf="f['talukaId'].value || (f['talukaId'].value && !fBgraph['filtertalukaId'].value)">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>केंद्र निवडा</mat-label>
                                        <mat-select formControlName="filtercenterId"
                                            (selectionChange)="this.getbarChartByTaluka()">
                                            <mat-option *ngFor="let center of centerData" [value]="center.id">
                                                {{webStorage.languageFlag == 'EN'?center.center:center.m_Center}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-3">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Subject</mat-label>
                                        <mat-select formControlName="filtersubjectId"
                                            (selectionChange)="this.getbarChartByTaluka()">
                                            <mat-option *ngFor="let subject of subjectData" [value]="subject.id ">
                                                {{webStorage.languageFlag == 'EN'?subject.subjectName
                                                :subject.m_SubjectName }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                    </mat-card-header>
                    <mat-card-content class="card-body">

                        <div class="row" *ngIf="showBarChartS">
                            <div class="col-sm-12">
                                <apx-chart [series]="barchartOptions1.series[0]" [chart]="barchartOptions1.chart"
                                    [theme]="barchartOptions1.theme" [dataLabels]="barchartOptions1.dataLabels"
                                    [plotOptions]="barchartOptions1.plotOptions"
                                    [responsive]="barchartOptions1.responsive" [xaxis]="barchartOptions1.xaxis"
                                    [legend]="barchartOptions1.legend" [fill]="barchartOptions1.fill"></apx-chart>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 border-end" *ngFor="let data of tableDataTopPerformance; let i=index">
                                <table class="table inner-table mb-3">
                                    <thead>
                                        <tr>
                                            <th *ngFor="let header of displayedheaders">
                                                {{header}}
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of data; let j=index">
                                            <td><img class="table-img"
                                                    src="{{item['schoolImage'] ? item['schoolImage'] : 'assets/images/user.jpg'}}">
                                            </td>
                                            <td>{{item['srNo']}}</td>
                                            <td>{{webStorage.languageFlag == 'EN' ? item['schoolName'] :
                                                item['m_SchoolName']}}
                                            </td>
                                            <td>{{item['totalStudent']}}</td>
                                            <td>{{item['passpercentage']}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div *ngIf="  data?.length ==0">
                                    <div class="alert alert-danger text-center py-2 ">
                                        Data not available
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>

                </mat-card>

            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>