<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">{{'Labels.dashboard' | translate}}</li>
        <!-- <li class="breadcrumb-item active" aria-current="page">Library</li> -->
    </ol>
</nav>
<form [formGroup]="filterForm">
    <div class="row">

        <div class="col-sm-4">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>तालुका निवडा</mat-label>
                <mat-select formControlName="talukaId">
                    <mat-option *ngFor="let taluka of talukaData" [value]="taluka.id">
                        {{this.webStorage.languageFlag == 'EN'?taluka.taluka:taluka.m_Taluka}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>केंद्र निवडा</mat-label>
                <mat-select formControlName="centerId">
                    <mat-option *ngFor="let center of centerData" [value]="center.id">
                        {{this.webStorage.languageFlag == 'EN'?center.center:center.m_Center}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>शाळा निवडा</mat-label>
                <mat-select formControlName="schoolId">
                    <mat-option *ngFor="let school of schoolData" [value]="school.value">
                        {{this.webStorage.languageFlag == 'EN'?school.schoolType :school.m_SchoolType }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</form>
<div class="row mb-3 g-2" id="dash-stats">
    <div class="col-sm-3">
        <div class="card card-body bg-blue">
            <div class="d-flex justify-content-between align-items-center">
                <div class="position-relative">
                    <img src="assets/images/statistical-icons/School-white.svg" class="bg-image">
                    <p>School</p>
                    <h3>7,500</h3>
                </div>
                <div class="right-img">
                    <img src="assets/images/statistical-icons/School.svg">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card card-body bg-cyan">
            <div class="d-flex justify-content-between align-items-center">
                <div class="position-relative">
                    <img src="assets/images/statistical-icons/Teacher-white.svg" class="bg-image">
                    <p>Teachers</p>
                    <h3>4,500</h3>
                </div>
                <div class="right-img">
                    <img src="assets/images/statistical-icons/Teacher.svg">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card card-body bg-voilet">
            <div class="d-flex justify-content-between align-items-center">
                <div class="position-relative">
                    <img src="assets/images/statistical-icons/Student-white.svg" class="bg-image">
                    <p>Students</p>
                    <h3>7,500</h3>
                </div>
                <div class="right-img">
                    <img src="assets/images/statistical-icons/Student.svg">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card card-body bg-magenta">
            <div class="d-flex justify-content-between align-items-center">
                <div class="position-relative">
                    <img src="assets/images/statistical-icons/ZP-Officer-white.svg" class="bg-image">
                    <p>ZP Officers</p>
                    <h3>7,500</h3>
                </div>
                <div class="right-img">
                    <img src="assets/images/statistical-icons/ZP-Officer.svg">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-sm-4">
        <mat-card class="mb-3 plain-card">
            <mat-card-header class="card-header">
                नकाशा
            </mat-card-header>
            <mat-card-content class="card-body">
                MAP
            </mat-card-content>
        </mat-card>

        <mat-card class="plain-card">
            <mat-card-header class="card-header">
                Management wise Schools
            </mat-card-header>
            <mat-card-content class="card-body">
                <div id="chart">
                    <apx-chart [series]="piechartOptions.series" [chart]="piechartOptions.chart"
                        [labels]="piechartOptions.labels" [responsive]="piechartOptions.responsive"></apx-chart>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm-8">
        <mat-card class="plain-card h-100">
            <mat-card-header class="card-header">
                <div class="d-flex align-items-center justify-content-between w-100">
                    <div>सर्वेक्षण केलेल्या विद्यार्थ्यांची एकूण संख्या</div>
                    <div>निवडलेली संख्या : <span class="fw-bold">15,533</span></div>
                </div>
            </mat-card-header>

            <mat-card-content class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table inner-table mb-3">
                            <thead>
                                <tr>
                                    <th>एकूण संख्या</th>
                                    <th>
                                        <div class="d-flex align-items-center justify-content-start">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="flexCheckDefault">
                                                <label class="form-check-label" for="flexCheckDefault">
                                                    १ली ते 2री
                                                </label>
                                            </div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="d-flex align-items-center justify-content-start">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="flexCheckDefault">
                                                <label class="form-check-label" for="flexCheckDefault">
                                                    3री ते ५वी
                                                </label>
                                            </div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="d-flex align-items-center justify-content-start">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="flexCheckDefault">
                                                <label class="form-check-label" for="flexCheckDefault">
                                                    ६वी ते ८वी
                                                </label>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-4 border-end">
                        <h6 class="small fw-bold text-center mb-0">मराठी भाषा स्तर</h6>
                        <apx-chart [series]="barchartOptions.series[0]" [chart]="barchartOptions.chart"
                            [dataLabels]="barchartOptions.dataLabels" [plotOptions]="barchartOptions.plotOptions"
                            [responsive]="barchartOptions.responsive" [xaxis]="barchartOptions.xaxis"
                            [legend]="barchartOptions.legend" [fill]="barchartOptions.fill"></apx-chart>
                    </div>
                    <div class="col-sm-4 border-end">
                        <h6 class="small fw-bold text-center mb-0">गणित स्तर निवडा</h6>
                        <apx-chart [series]="barchartOptions.series[1]" [chart]="barchartOptions.chart"
                            [dataLabels]="barchartOptions.dataLabels" [plotOptions]="barchartOptions.plotOptions"
                            [responsive]="barchartOptions.responsive" [xaxis]="barchartOptions.xaxis"
                            [legend]="barchartOptions.legend" [fill]="barchartOptions.fill"></apx-chart>
                    </div>
                    <div class="col-sm-4">
                        <h6 class="small fw-bold text-center mb-0">इंग्रजी स्तर निवडा</h6>
                        <apx-chart [series]="barchartOptions.series[2]" [chart]="barchartOptions.chart"
                            [dataLabels]="barchartOptions.dataLabels" [plotOptions]="barchartOptions.plotOptions"
                            [responsive]="barchartOptions.responsive" [xaxis]="barchartOptions.xaxis"
                            [legend]="barchartOptions.legend" [fill]="barchartOptions.fill"></apx-chart>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <mat-card class="plain-card">
            <mat-card-header class="card-header">
                <div class="d-flex align-items-center flex-wrap justify-content-between w-100">
                    <div class="mb-3">तालुका निहाय मूल्यांकन</div>
                    <div class="d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap gap-2">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>केंद्र निवडा</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let center of centerData" [value]="center.id">
                                    {{this.webStorage.languageFlag == 'EN'?center.center:center.m_Center}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!-- <mat-form-field appearance="outline" class="w-100">
                            <mat-label>कामगिरी</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let food of foods" [value]="food.value">
                                    {{food.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>भाषा निवडा</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let food of foods" [value]="food.value">
                                    {{food.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field> -->
                    </div>

                </div>
            </mat-card-header>
            <mat-card-content class="card-body">
                <apx-chart [series]="barchartOptions.series[3]" [chart]="barchartOptions.chart"
                    [dataLabels]="barchartOptions.dataLabels" [plotOptions]="barchartOptions.plotOptions"
                    [responsive]="barchartOptions.responsive" [xaxis]="barchartOptions.xaxis"
                    [legend]="barchartOptions.legend" [fill]="barchartOptions.fill"></apx-chart>
            </mat-card-content>
        </mat-card>]
    </div>
</div>