<mat-card>
    <mat-card-header>
        <div class="row w-100 mb-3">
            <div class="col-sm-8">
                Student List
            </div>
            <div class="col-sm-4 text-end">
                    <span class="material-symbols-outlined">
                        toc
                    </span>
                    <span class="material-symbols-outlined">
                        grid_view
                    </span>
                    <span class="material-symbols-outlined">
                        download
                    </span>
                    <button class="btn bg-main" (click)="addUpdateAgency()">Add New</button>
            </div>
        </div>
    </mat-card-header>
    <mat-card-content>
                        Table
    </mat-card-content>
    <mat-card-footer>
        <nav aria-label="" class="d-flex justify-content-end"> 
            <ul class="pagination">
              <li class="page-item disabled">
                <a class="page-link">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
    </mat-card-footer>
</mat-card>
