<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page">Masters</li>
    <li class="breadcrumb-item active" aria-current="page">Student Registration</li>
  </ol>
</nav>
<app-page-statistics></app-page-statistics>

<mat-card class="plain-card">
  <mat-card-header class="card-header">
    <div class="d-flex flex-wrap align-items-center justify-content-between w-100">
      <div class="text-main fw-bold mb-2">
        Student List
      </div>
      <div class="d-flex align-items-center justify-content-end gap-2">
        <button mat-flat-button class="btn-icon" [ngClass]="{'btn-main':!this.cardViewFlag, 'btn-second':this.cardViewFlag}" (click)="selectGrid('Table')">
          <mat-icon>
            format_list_bulleted
          </mat-icon>
        </button>
        <button mat-flat-button class="btn-second btn-icon"  [ngClass]="{'btn-main':this.cardViewFlag, 'btn-second':!this.cardViewFlag}" (click)="selectGrid('Card')">
          <mat-icon>
            grid_view
          </mat-icon>
        </button>
        <button mat-flat-button class="btn-main btn-icon" [matMenuTriggerFor]="menu">
          <mat-icon>
            download
          </mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item>
            <div class="d-flex align-items-center justify-content-between w-100">
              <span>PDF</span>
              <i class='bx bxs-file-pdf text-danger'></i>
            </div>
          </button>
          <button mat-menu-item>
            <div class="d-flex align-items-center justify-content-between w-100">
              <span>Excel</span>
              <i class='bx bxs-file text-primary'></i>
            </div>
          </button>
        </mat-menu>
        <button mat-flat-button class="btn-main" (click)="addUpdateAgency()">
          <mat-icon>add</mat-icon>
          Add Student
        </button>
      </div>
    </div>
  </mat-card-header>
  <mat-card-header class="card-header mb-0 pb-0">
    <div class="row w-100 mt-2">
      <div class="col-sm-auto">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Search by Name/Contact/Email</mat-label>
          <input matInput placeholder="Search by Name/Contact/Email" [formControl]="searchContent">

        </mat-form-field>
      </div>
      <!-- <div class="col-sm-auto">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Search by Contact</mat-label>
          <input matInput placeholder="Search by Contact">

        </mat-form-field>
      </div>
      <div class="col-sm-auto">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Search by Email</mat-label>
          <input matInput placeholder="Search by Email">
        </mat-form-field>
      </div> -->
      <div class="col-sm-auto">
          <button mat-flat-button class="btn-main" (click)="getTableData('filter')">Filter</button>
          <button  mat-flat-button class="btn-second ms-3" (click)="clearForm()">Clear</button>
      </div>

    </div>
  </mat-card-header>
  <mat-card-content class="card-body">
    <ng-container *ngIf="!cardViewFlag">
      <app-table (recObjToChild)="childTableCompInfo($event)"></app-table>
    </ng-container>

    <ng-container *ngIf="cardViewFlag">
      <!-- <app-card-grid-view (recObjToChild)="childGridCompInfo($event)"></app-card-grid-view> -->
      <div class="row">
              <div class="col-sm-4">
                <mat-card>
                  <mat-card-header class="d-flex justify-content-end">
                    <button mat-flat-button [matMenuTriggerFor]="menu">
                      <span class="material-symbols-outlined">
                        more_horiz
                      </span>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item>Item 1</button>
                      <button mat-menu-item>Item 2</button>
                    </mat-menu>
                  </mat-card-header>
                  <mat-card-content>
                    <div class="text-center mb-3">
                      <img src="assets/images/user.jpg" alt="" height="60px">
                    </div>
                    <div style="text-align: center;">name</div>
                    <div class="row">
                      <div class="col-sm  form-label">
                        School Name
                      </div>
                      <div class=" col-sm  form-deta">
                     name
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm form-label">
                        Mobile No.
                      </div>
                      <div class="col-sm form-deta">
                        mobileNo
                      </div>
                    </div>
                    <div class="row">
                      <div class=" col-sm form-label">
                        Gender
                      </div>
                      <div class="col-sm form-deta">
                        gender
                      </div>
                    </div>
                    <div class="text-center mb-3">
                      <button mat-flat-button class="btn-main">Read More</button>
                    </div>
                  </mat-card-content>
                  <mat-card-footer>
        
                  </mat-card-footer>
                </mat-card>
                     
          </div>
                  
              <div class="col-sm-4">
                <mat-card>
                  <mat-card-header class="d-flex justify-content-end">
                    <button mat-flat-button [matMenuTriggerFor]="menu">
                      <span class="material-symbols-outlined">
                        more_horiz
                      </span>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item>Item 1</button>
                      <button mat-menu-item>Item 2</button>
                    </mat-menu>
                  </mat-card-header>
                  <mat-card-content>
                    <div class="text-center mb-3">
                      <img src="assets/images/user.jpg" alt="" height="60px">
                    </div>
                    <div class="row">
                      <div class="col-sm  form-label">
                        School Name
                      </div>
                      <div class=" col-sm  form-deta">
                        Chaitanya Vidyalaya
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm form-label">
                        Mobile No.
                      </div>
                      <div class="col-sm form-deta">
                        9999999999
                      </div>
                    </div>
                    <div class="row">
                      <div class=" col-sm form-label">
                        Gender
                      </div>
                      <div class="col-sm form-deta">
                        Male
                      </div>
                    </div>
                    <div class="text-center mb-3">
                      <button mat-flat-button class="btn-main">Read More</button>
                    </div>
                  </mat-card-content>
                  <mat-card-footer>
        
                  </mat-card-footer>
                </mat-card>
              </div>
              <div class="col-sm-4">
                <mat-card>
                  <mat-card-header class="d-flex justify-content-end">
                    <mat-card-actions>
                      <button mat-flat-button [matMenuTriggerFor]="menu">
                        <span class="material-symbols-outlined">
                          more_horiz
                        </span>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                          <span>Edit</span>
                          <span class="material-symbols-outlined">
                            edit
                          </span>
                        </button>
                        <button mat-menu-item>
                          <span>Delete</span>
                          <span class="material-symbols-outlined">
                            delete
                          </span></button>
                      </mat-menu>
                    </mat-card-actions>
        
                  </mat-card-header>
                  <mat-card-content>
                    <div class="text-center mb-3">
                      <img src="assets/images/user.jpg" alt="" height="60px">
                    </div>
                    <div class="row">
                      <div class="col-sm  form-label">
                        School Name
                      </div>
                      <div class=" col-sm  form-deta">
                        Chaitanya Vidyalaya
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm form-label">
                        Mobile No.
                      </div>
                      <div class="col-sm form-deta">
                        9999999999
                      </div>
                    </div>
                    <div class="row">
                      <div class=" col-sm form-label">
                        Gender
                      </div>
                      <div class="col-sm form-deta">
                        Male
                      </div>
                    </div>
                    <div class="text-center mb-3">
                      <button mat-flat-button class="btn-main">Read More</button>
                    </div>
                  </mat-card-content>
                  <mat-card-footer>
        
                  </mat-card-footer>
                </mat-card>
              </div>
            </div>

    </ng-container>
  </mat-card-content>
</mat-card>