<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page">Masters</li>
    <li class="breadcrumb-item active" aria-current="page">Student Registration</li>
  </ol>
</nav>
<app-page-statistics></app-page-statistics>

<mat-card class="plain-card">
  <mat-card-header class="card-header">
    <div class="d-flex align-items-center justify-content-between w-100">
      <div class="text-main fw-bold">
        Student List
      </div>
      <div class="d-flex align-items-center justify-content-end gap-2">
        <button mat-flat-button class="btn-main btn-icon" (click)="loadtableView()">
          <mat-icon>
            format_list_bulleted
          </mat-icon>
        </button>
        <button mat-flat-button class="btn-second btn-icon" (click)="loadGridView()">
          <mat-icon>
            grid_view
          </mat-icon>
        </button>
        <button mat-flat-button class="btn-main btn-icon" [matMenuTriggerFor]="menu">
          <mat-icon>
            download
          </mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item>
            <div class="d-flex align-items-center justify-content-between w-100">
              <span>PDF</span>
              <i class='bx bxs-file-pdf text-danger'></i>
            </div>
          </button>
          <button mat-menu-item>
            <div class="d-flex align-items-center justify-content-between w-100">
              <span>Excel</span>
              <i class='bx bxs-file text-primary'></i>
            </div>
          </button>
        </mat-menu>
        <button mat-flat-button class="btn-main" (click)="addUpdateAgency()">
          <mat-icon>add</mat-icon>
          Add New
        </button>
      </div>
    </div>
  </mat-card-header>
  <mat-card-header class="card-header">
    <div class="row w-100 mb-3">
      <div class="col-sm-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Search by Name</mat-label>
          <input matInput placeholder="Search by Name">

        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Search by Contact</mat-label>
          <input matInput placeholder="Search by Contact">

        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Search by Email</mat-label>
          <input matInput placeholder="Search by Email">
        </mat-form-field>
      </div>

    </div>
  </mat-card-header>
  <mat-card-content class="card-body">
    <ng-container *ngIf="this.viewFlags.table">
      <app-table (recObjToChild)="childCompInfo($event)"></app-table>
    </ng-container>

    <ng-container *ngIf="this.viewFlags.grid">
      
      <app-card-grid-view></app-card-grid-view>
    </ng-container>
  </mat-card-content>
</mat-card>