
 <!-- <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-circus" [fullScreen]="true">
 <p style="color: white"> Loading... </p> 
   <img src="assets/spinner/Ripple-1.6s-200px.svg" alt="">
</ngx-spinner>  -->

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<!-- <app-header *ngIf="isLoggedIn"></app-header>
<app-sidebar *ngIf="isLoggedIn"></app-sidebar>
<router-outlet></router-outlet>
<app-footer *ngIf="isLoggedIn"></app-footer> -->




<app-sidebar *ngIf="isLoggedIn"></app-sidebar>
<div class="wrapper">
    <app-header *ngIf="isLoggedIn"></app-header>
        <div class="main-content">
            <div [class]="classname">
            <router-outlet></router-outlet>
           </div>
        </div>
    <app-footer *ngIf="isLoggedIn"></app-footer>
</div>