<mat-card class="plain-card">
  <mat-card-header class="card-header">
    <h6 class="text-main fw-bold mb-0">Delete User</h6>
  </mat-card-header>
  <mat-card-content class="card-body text-center">
    <img src="assets/images/trash.gif" class="w-25">
    <h6 mat-dialog-content class="my-4">
      Are you sure you want to delete this user?
    </h6>
    <div mat-dialog-actions align="end">
      <button mat-flat-button mat-dialog-close class="btn-second me-2">{{data.cancelButton}}</button>
      <button mat-flat-button cdkFocusInitial type="submit" class="btn-main" (click)="closeDialog('yes')">{{data.okButton}}</button>
    </div>
  </mat-card-content>
</mat-card>