<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">Masters</li>
        <li class="breadcrumb-item active" aria-current="page">School Registration</li>
    </ol>
</nav>
<app-page-statistics></app-page-statistics>

<div class="row">
    <div class="col-sm-12">
        <mat-card class="plain-card">
            <mat-card-header class="card-header">
                <div class="d-flex align-items-center justify-content-between w-100">
                    <div>
                        School List
                    </div>
                    <div class="d-flex align-items-center justify-content-end gap-2">
                        <button mat-flat-button class="btn-main btn-icon">
                            <mat-icon>
                                list
                            </mat-icon>
                        </button>
                        <button mat-flat-button class="btn-second btn-icon">
                            <mat-icon>grid_view</mat-icon>
                        </button>
                        <button mat-flat-button class="btn-main btn-icon" [matMenuTriggerFor]="menu">
                            <mat-icon>
                                download
                            </mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item>
                                <div class="d-flex align-items-center justify-content-between w-100">
                                    <span>PDF</span>
                                    <i class='bx bxs-file-pdf text-danger'></i>
                                </div>
                            </button>
                            <button mat-menu-item>
                                <div class="d-flex align-items-center justify-content-between w-100">
                                    <span>Excel</span>
                                    <i class='bx bxs-file text-primary'></i>
                                </div>
                            </button>
                        </mat-menu>
                        <button class="btn-main d-flex align-items-center justify-content-between" mat-flat-button
                            (click)="addUpdateAgency()">
                            <mat-icon>
                                add
                            </mat-icon>
                            <span>Add New</span>
                        </button>
                    </div>
                </div>
            </mat-card-header>
            <mat-card-header class="card-header">
                <div class="row g-3">
                    <div class="col-sm-4">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Select District</mat-label>
                            <mat-select>
                                <mat-option value="one">First option</mat-option>
                                <mat-option value="two">Second option</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Select Taluka</mat-label>
                            <mat-select>
                                <mat-option value="one">First option</mat-option>
                                <mat-option value="two">Second option</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Select Village</mat-label>
                            <mat-select>
                                <mat-option value="one">First option</mat-option>
                                <mat-option value="two">Second option</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-header>

            <mat-card-content class=card-body>
                <app-table (recObjToChild)="childCompInfo($event)"></app-table>
            </mat-card-content>
        </mat-card>
    </div>
</div>