<div class="container-fluid">
    <div class="row g-3 mb-3">
        <div class="col-sm">
            <mat-card class="mat-card-page">
                <mat-card-content>
                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <h1 class="text-number">40</h1>
                            <small>School</small>
                        </div>
                         <img src="assets/images/menu-icons/school-grey.svg" class="image-school">
                    </div>
                </mat-card-content>
                <mat-card-footer class="school-footer">
                    <div class="flex-fill">
                        <p class="mb-0">25</p>
                        <p class="mb-0">Urban</p>
                    </div>
                    <div class="border-start border-warning flex-fill">
                        <p class="mb-0">15</p>
                        <p class="mb-0">Rural</p>
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-sm">
            <mat-card class="mat-card-page">
                <mat-card-content>
                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <h1 class="text-success mb-0">134</h1>
                            <small>Teacher</small>
                        </div>
                         <img src="assets/images/menu-icons/teacher-grey.svg" class="image-school">
                    </div>
                </mat-card-content>
                <mat-card-footer class="school-footer">
                    <div class="flex-fill">
                        <p class="mb-0">54</p>
                        <p class="mb-0">Female</p>
                    </div>
                    <div class="border-start border-warning flex-fill">
                        <p class="mb-0">80</p>
                        <p class="mb-0">Male</p>
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-sm">
            <mat-card class="mat-card-page">
                <mat-card-content>
                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <h1 class="text-danger mb-0">1004</h1>
                            <small>Students</small>
                        </div>
                         <img src="assets/images/menu-icons/student-grey.svg" class="image-school">
                    </div>
                </mat-card-content>
                <mat-card-footer class="school-footer">
                    <div class="flex-fill">
                        <p class="mb-0">540</p>
                        <p class="mb-0">Girls</p>
                    </div>
                    <div class="border-start border-warning flex-fill">
                        <p class="mb-0">464</p>
                        <p class="mb-0">Boys</p>
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-sm">
            <mat-card class="mat-card-page">
                <mat-card-content>
                    <div class="d-flex align-items-center justify-content-center">
                        <img src="assets/images/menu-icons/Designation-grey.svg" class="image-school">
                    </div>
                </mat-card-content>
                <mat-card-footer class="school-footer">
                    <div class="flex-fill">
                        <h5 class="mb-0 fw-bold">40</h5>
                        <p class="mb-0">Designation</p>
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-sm">
            <mat-card class="mat-card-page">
                <mat-card-content>
                    <div class="d-flex align-items-center justify-content-center">
                        <img src="assets/images/menu-icons/User-grey.svg" class="image-school">
                    </div>
                </mat-card-content>
                <mat-card-footer class="school-footer">
                    <div class="flex-fill">
                        <h5 class="mb-0 fw-bold">28</h5>
                        <p class="mb-0">Office Users</p>
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-sm">
            <mat-card class="mat-card-page">
                <mat-card-content>
                    <div class="d-flex align-items-center justify-content-center">
                        <img src="assets/images/menu-icons/Agency-grey.svg" class="image-school">
                    </div>
                </mat-card-content>
                <mat-card-footer class="school-footer">
                    <div class="flex-fill">
                        <h5 class="mb-0 fw-bold">16</h5>
                        <p class="mb-0">Agency Registration</p>
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</div>
