<div class="row g-3 mb-3">
    <div class="col-sm-2">
        <mat-card class="plain-card card-school">
            <mat-card-content class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <div>
                        <h1 class="mb-0">40</h1>
                        <p class="mb-0">School</p>
                    </div>
                    <img src="assets/images/menu-icons/school-grey.svg">
                </div>
            </mat-card-content>
            <mat-card-footer class="card-footer border-top-0">
                <div class="d-flex">
                    <div class="flex-fill text-center border-end border-secondary">
                        <h5 class="mb-0">25</h5>
                        <p class="mb-0">Urban</p>
                    </div>
                    <div class="flex-fill text-center">
                        <h5 class="mb-0">15</h5>
                        <p class="mb-0">Rural</p>
                    </div>
                </div>
            </mat-card-footer>
        </mat-card>
    </div>
    <div class="col-sm-2">
        <mat-card class="plain-card card-teacher">
            <mat-card-content class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <div>
                        <h1 class="mb-0">134</h1>
                        <p class="mb-0">Teacher</p>
                    </div>
                    <img src="assets/images/menu-icons/teacher-grey.svg">
                </div>
            </mat-card-content>
            <mat-card-footer class="card-footer border-top-0">
                <div class="d-flex">
                    <div class="flex-fill text-center border-end border-secondary">
                        <h5 class="mb-0">25</h5>
                        <p class="mb-0">Female</p>
                    </div>
                    <div class="flex-fill text-center">
                        <h5 class="mb-0">15</h5>
                        <p class="mb-0">Male</p>
                    </div>
                </div>
            </mat-card-footer>
        </mat-card>
    </div>
    <div class="col-sm-2">
        <mat-card class="plain-card card-students">
            <mat-card-content class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <div>
                        <h1 class="mb-0">100454</h1>
                        <p class="mb-0">Students</p>
                    </div>
                    <img src="assets/images/menu-icons/student-grey.svg">
                </div>
            </mat-card-content>
            <mat-card-footer class="card-footer border-top-0">
                <div class="d-flex">
                    <div class="flex-fill text-center border-end border-secondary">
                        <h5 class="mb-0">540</h5>
                        <p class="mb-0">Girls</p>
                    </div>
                    <div class="flex-fill text-center">
                        <h5 class="mb-0">135</h5>
                        <p class="mb-0">Boys</p>
                    </div>
                </div>
            </mat-card-footer>
        </mat-card>
    </div>
    <div class="col-sm-2">
        <mat-card class="plain-card card-designation">
            <mat-card-content class="card-body">
                <div class="text-center">
                    <img src="assets/images/menu-icons/Designation-grey.svg">
                </div>
            </mat-card-content>
            <mat-card-footer class="card-footer border-top-0">
                <div class="d-flex">
                    <div class="flex-fill text-center">
                        <h5 class="mb-0">40</h5>
                        <p class="mb-0">Designation</p>
                    </div>
                </div>
            </mat-card-footer>
        </mat-card>
    </div>
    <div class="col-sm-2">
        <mat-card class="plain-card card-users">
            <mat-card-content class="card-body">
                <div class="text-center">
                    <img src="assets/images/menu-icons/User-grey.svg">
                </div>
            </mat-card-content>
            <mat-card-footer class="card-footer border-top-0">
                <div class="d-flex">
                    <div class="flex-fill text-center">
                        <h5 class="mb-0">28</h5>
                        <p class="mb-0">Office Users</p>
                    </div>
                </div>
            </mat-card-footer>
        </mat-card>
    </div>
    <div class="col-sm-2">
        <mat-card class="plain-card card-agency">
            <mat-card-content class="card-body">
                <div class="text-center">
                    <img src="assets/images/menu-icons/Agency-grey.svg">
                </div>
            </mat-card-content>
            <mat-card-footer class="card-footer border-top-0">
                <div class="d-flex">
                    <div class="flex-fill text-center">
                        <h5 class="mb-0">16</h5>
                        <p class="mb-0">Agency Registration</p>
                    </div>
                </div>
            </mat-card-footer>
        </mat-card>
    </div>
</div>