<form [formGroup]="schoolRegForm" (ngSubmit)="onSubmit()">
    <mat-card class="plain-card">
        <mat-card-header class="card-header">
            <div class="d-flex align-items-center justify-content-between w-100">
                <h6 class="text-main mb-0">Register School</h6>
                <button mat-icon-button mat-dialog-close class="btn-modal-close">
                    <mat-icon>
                        close
                    </mat-icon>
                </button>
            </div>
        </mat-card-header>

        <mat-card-content class="card-body">
            <div class="row my-3">
                <div class="col-sm">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>District</mat-label>
                        <mat-select formControlName="districtId" (selectionChange)="getTaluka();">
                            <mat-option *ngFor="let district of districtArr" [value]="district.id">
                                {{district.district}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="f['districtId'].hasError('required') || f['districtId'].hasError('touched')">
                            District is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>Taluka</mat-label>
                        <mat-select formControlName="talukaId"
                            (selectionChange)="clearDropdown('Taluka'); getCenter();">
                            <mat-option *ngFor="let taluka of talukaArr" [value]="taluka.id">
                                {{taluka.taluka}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="f['talukaId'].hasError('required') || f['talukaId'].hasError('touched')">
                            Taluka is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>Kendra</mat-label>
                        <mat-select formControlName="centerId"
                            (selectionChange)="clearDropdown('Kendra'); getVillage();">
                            <mat-option *ngFor="let center of centerArr" [value]="center.id">
                                {{center.center}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="f['centerId'].hasError('required') || f['centerId'].hasError('touched')">
                            Kendra is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>Village</mat-label>
                        <mat-select formControlName="villageId"
                            (selectionChange)="clearDropdown('Village'); getSchoolType();">
                            <mat-option *ngFor="let village of villageArr" [value]="village.id">
                                {{village.village}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="f['villageId'].hasError('required') || f['villageId'].hasError('touched')">
                            Village is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>School</mat-label>
                        <input matInput placeholder="School" formControlName="schoolName" maxlength="50" (keypress)="validationService.alphabetsWithSpaces($event); validationService.noFirstSpaceAllow($event)">
                        <mat-error *ngIf="f['schoolName'].hasError('required') || f['schoolName'].hasError('touched')">
                            School is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>School (Marathi)</mat-label>
                        <input matInput placeholder="School (Marathi)" formControlName="m_SchoolName" maxlength="50">
                        <!-- <mat-error *ngIf="f['m_SchoolName'].hasError('required') || f['m_SchoolName'].hasError('touched')">
                            School name is required
                        </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="col-sm">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>School Type Description</mat-label>
                        <mat-select formControlName="s_TypeId"
                            (selectionChange)="clearDropdown('School Type'); getCategoryDes();">
                            <mat-option *ngFor="let schoolType of schoolTypeArr" [value]="schoolType.id">
                                {{schoolType.schoolType}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="f['s_TypeId'].hasError('required') || f['s_TypeId'].hasError('touched')">
                            School Type Description is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>School Category Description</mat-label>
                        <mat-select formControlName="s_CategoryId"
                            (selectionChange)="clearDropdown('Category Desc'); getSchoolMngDesc();">
                            <mat-option *ngFor="let category of categoryArr" [value]="category.id">
                                {{category.category_desc}}
                            </mat-option>
                        </mat-select>
                        <mat-error
                            *ngIf="f['s_CategoryId'].hasError('required') || f['s_CategoryId'].hasError('touched')">
                            School Category is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>School Management Description</mat-label>
                        <mat-select formControlName="s_ManagementId"
                            (selectionChange)="clearDropdown('Management Desc'); getGroupClass();">
                            <mat-option *ngFor="let schoolMng of schoolMngArr" [value]="schoolMng.id">
                                {{schoolMng.management_desc}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-sm">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Group Class</mat-label>
                        <mat-select formControlName="g_ClassId">
                            <mat-option *ngFor="let groupclass of groupclassArr" [value]="groupclass.id">
                                {{groupclass.groupClass}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-sm">

                    <!-- <mat-form-field appearance="outline" class="w-100"> -->
                    <mat-label>Upload Photo</mat-label>
                    <input type="file" formControlName="docPath" hidden="hidden" (change)="imgUpload($event)" #img>
                    <mat-icon matSuffix>
                        <span class="material-symbols-outlined" (click)="img.click()">
                            upload
                        </span>
                    </mat-icon>
                    <!-- </mat-form-field> -->
                    <span class="mx-3">
                        <mat-icon class="text-danger" type="button" *ngIf="showAddRemImg"
                            (click)="clearImg()">highlight_off</mat-icon>
                        <mat-icon class="text-success"
                            *ngIf="showAddRemImg">check_circle_outline</mat-icon>
                    </span>
                </div>
            </div>
        </mat-card-content>
        <mat-card-footer>
            <mat-card-actions align="end">
                <button mat-dialog-close mat-flat-button class="btn-second me-2" type="button">Cancel</button>
                <button mat-flat-button class="btn-main">{{editFlag ? 'Update' : 'Submit'}}</button>
            </mat-card-actions>
        </mat-card-footer>
    </mat-card>
</form>