<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">Masters</li>
        <li class="breadcrumb-item active" aria-current="page">{{'Labels.DesignationMaster' | translate}}</li>
    </ol>
</nav>

<mat-card class="plain-card">
    <mat-card-header class="card-header">
        <div class="d-flex fw-bold justify-content-between align-items-center flex-wrap w-100">
            <span class="text-main mb-2">Designation Master</span>
            <div class="d-flex gap-2">
                <button mat-flat-button class="btn-main btn-icon" [matMenuTriggerFor]="menu">
                    <mat-icon>
                        download
                    </mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item (click)="downloadPdf()">
                        <div class="d-flex align-items-center justify-content-between w-100">
                            <span>PDF</span>
                            <i class='bx bxs-file-pdf text-danger'></i>
                        </div>
                    </button>
                    <!-- <button mat-menu-item>
                        <div class="d-flex align-items-center justify-content-between w-100">
                            <span>Excel</span>
                            <i class='bx bxs-file text-primary'></i>
                        </div>
                    </button> -->
                </mat-menu>
                <button mat-flat-button class="btn-main" (click)="addUpdateAgency()">
                    <mat-icon>
                        add
                    </mat-icon>
                    Add Designation</button>
            </div>
        </div>
    </mat-card-header>
    <mat-card-header class="card-header mb-0 pb-0">
       <div class="row mt-2">
        <div class="col-sm-auto">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Select Designation</mat-label>
                <mat-select [formControl]="searchContent">
                    <mat-option *ngFor="let designation of DesiganationTypeArray" [value]="designation.id">
                        {{designation.designationType}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-auto">
            <button (click)="getTableData('filter')" mat-flat-button class="btn-main">Filter</button>
            <button  mat-flat-button class="btn-second ms-3" (click)="clearForm()">Clear</button>
           
        </div>
       </div>
    </mat-card-header>
    <mat-card-content class="card-body">
        <app-table (recObjToChild)="childCompInfo($event)"></app-table>
    </mat-card-content>
</mat-card>