<mat-card class="plain-card">

    <mat-card-header class="card-header">
        <div class="d-flex align-items-center justify-content-between w-100">
            <h6 class="text-main mb-0">
                {{editData ? ('Labels.updateAgency' | translate): 'Labels.agencyRegistration' | translate}}
            </h6>
            <button mat-icon-button mat-dialog-close class="btn-modal-close">
                <mat-icon>
                    close
                </mat-icon>
            </button>
        </div>
    </mat-card-header>
    <form [formGroup]="agencyRegisterForm" (ngSubmit)="onSubmit(clear)" #clear="ngForm">
        <mat-card-content class="card-body">
            <div class="row">
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.agencyName' | translate}}</mat-label>
                        <input matInput formControlName="agency_Name" placeholder="{{'Labels.agencyName' | translate}}" maxlength="50" (keypress)="validation.noFirstSpaceAllow($event)">
                        <mat-error *ngIf="fc['agency_Name'].hasError('required')"> {{'Labels.agencyNameIsRequired' | translate}}</mat-error>
                        <mat-error *ngIf="fc['agency_Name'].hasError('pattern')"> Please Enter Valid Agency Name</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.agencyName(Marathi)' | translate}}</mat-label>
                        <input matInput formControlName="m_Agency_Name" placeholder="{{'Labels.agencyName(Marathi)' | translate}}" maxlength="50" (keypress)="validation.noFirstSpaceAllow($event)">
                        <mat-error *ngIf="fc['m_Agency_Name'].hasError('required')">{{'Labels.agencyNameIsRequired' | translate}}</mat-error>
                        <!-- <mat-error *ngIf="fc['m_Agency_Name'].hasError('pattern')"> Please Enter Valid Agency Name</mat-error> -->
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.contactPersonName' | translate}}</mat-label>
                        <input matInput formControlName="contactPerson_Name" placeholder="{{'Labels.contactPersonName' | translate}}" maxlength="50" (keypress)="validation.noFirstSpaceAllow($event)">
                        <mat-error *ngIf="fc['contactPerson_Name'].hasError('required')">{{'Labels.contactPersonNameIsRequired' | translate}}</mat-error>
                        <mat-error *ngIf="fc['contactPerson_Name'].hasError('pattern')"> Please Enter Valid Person
                            Name</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.contactNo.' | translate}}</mat-label>
                        <input matInput formControlName="contact_No" maxlength="10" placeholder="{{'Labels.contactNo.' | translate}}" (keypress)="validation.onlyDigits($event)">
                        <mat-error *ngIf="fc['contact_No'].hasError('required')"> Contact Number Is Required</mat-error>
                        <mat-error *ngIf="fc['contact_No'].hasError('pattern')">Please Enter Valid Contact Number</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.emailID' | translate}}</mat-label>
                        <input matInput formControlName="emailId" placeholder="{{'Labels.emailID' | translate}}" maxlength="50" (keypress)="validation.noFirstSpaceAllow($event)">
                        <mat-error *ngIf="fc['emailId'].hasError('required')">Email Id Is Required</mat-error>
                        <mat-error *ngIf="fc['emailId'].hasError('pattern')">Please Enter Valid Email Id</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.agencyMobileNo' | translate}}</mat-label>
                        <input matInput formControlName="agency_MobileNo" maxlength="10"
                            placeholder="{{'Labels.agencyMobileNo' | translate}}" (keypress)="validation.onlyDigits($event)">
                        <mat-error *ngIf="fc['agency_MobileNo'].hasError('required')">Agency Mobile Number Is
                            Required</mat-error>
                        <mat-error *ngIf="fc['agency_MobileNo'].hasError('pattern')">Please Enter Valid Mobile
                            Number</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.agencyEmailID' | translate}}</mat-label>
                        <input matInput formControlName="agency_EmailId" placeholder="{{'Labels.agencyEmailID' | translate}}" maxlength="50" (keypress)="validation.noFirstSpaceAllow($event)">
                        <mat-error *ngIf="fc['agency_EmailId'].hasError('required')">Agency Email Id Is
                            Required</mat-error>
                        <mat-error *ngIf="fc['agency_EmailId'].hasError('pattern')">Please Enter Valid Email Id</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.district' | translate}}</mat-label>
                        <mat-select formControlName="districtId"  placeholder="{{'Labels.district' | translate}}">
                            <mat-option *ngFor="let data of districtData"
                                [value]="data.id">{{data.district}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.taluka' | translate}}</mat-label>
                        <mat-select formControlName="talukaId" placeholder="{{'Labels.taluka' | translate}}">
                            <mat-option *ngFor="let data of talukaData" [value]="data.id">{{data.taluka}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="fc['talukaId'].hasError('required')">Please Select Taluka</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.address' | translate}}</mat-label>
                        <input matInput formControlName="address" placeholder="{{'Labels.address' | translate}}" (keypress)="validation.noFirstSpaceAllow($event)">
                        <mat-error *ngIf="fc['address'].hasError('required')">Address Is Required</mat-error>
                        <mat-error *ngIf="fc['address'].hasError('maxlength')">Maximumm Length Should Be Less Than 500 Characters</mat-error>                   
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-footer align="end" class="card-footer d-flex justify-content-end">
            <button type="button" mat-flat-button class="btn-second me-2" (click)="onCancel(clear)">{{'Labels.cancel' | translate}}</button>
            <button type="submit" mat-flat-button class="btn-main ">{{data ? ('Labels.update' | translate) : ('Labels.submit' | translate)}}</button>
        </mat-card-footer>
    </form>
</mat-card>