<div class="login-body">

    <div class="login-width">

        <div class="image-holder">

        </div>
        <div class="form-width">
            <div class="text-end">
                <a routerLink="../home">Home</a>
            </div>
            <div class=" form-body">
               
                    <div class="d-flex gap-2 justify-content-center mb-4">
                        <img src="../../../assets/images/logo.png" alt="logo" height="70px">
                        <div>
                            <h2>जिल्हा परिषद</h2>
                            <h5>उस्मानाबाद</h5>
                        </div>
                    </div>
                    <mat-tab-group>
                        <mat-tab label="First"> Content 1
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, sapiente sint dolorum
                            aspernatur, enim qui a, quas consequuntur laudantium maiores odit reprehenderit! Sapiente
                            inventore nobis consectetur officia sunt cupiditate autem hic. Similique neque
                            necessitatibus eos odio porro labore blanditiis! Dolorum qui quidem doloremque ex nam modi
                            suscipit quibusdam earum magnam.
                        </mat-tab>
                        <mat-tab label="Second"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, sapiente sint dolorum
                            aspernatur, enim qui a, quas consequuntur laudantium maiores odit reprehenderit! Sapiente
                            inventore nobis consectetur officia sunt cupiditate autem hic. Similique neque
                            necessitatibus eos odio porro labore blanditiis! Dolorum qui quidem doloremque ex nam modi
                            suscipit quibusdam earum magnam. </mat-tab>

                    </mat-tab-group>
                
            </div>


        </div>
    </div>