.login-wrapper{
    height: 100vh;
    display: flex;
}
.login-wrapper .login-left{
    background: transparent linear-gradient(180deg, #039286 0%, #014642 100%) 0% 0% no-repeat;
    height: 100%;
    width: auto;
}
.login-wrapper .login-right{
    height: 100%;
    width: 70%;
}
.logo img{
    width: 300px;
    margin: 0 auto;
    margin-right: 15px;
}
a{
    font-size: 0.85rem;
    text-decoration: none;
}
@media only screen and (max-width: 768px){
    .login-wrapper .login-left{
        display:none
    }
    .login-wrapper .login-right{
        height: 100%;
        width: 100%;
    }
}
@media only screen and (max-width: 420px) {
    .login-wrapper .login-left{
        display:none
    }
    .login-wrapper .login-right{
        height: 100%;
        width: 100%;
    }
}


.PasswordEyeView{
    font-size: 21px !important;
}

input::-ms-reveal { display: none; }

.Login {
    color: #039286 !important;
    font-weight: 600;
}
#e3o4pNZjVav1{
    height: 100vh;
}