<div class="login-body">
    <div class="login-width">
        <div class="image-holder">

        </div>
        <div class="form-width h-100">
            <div class="d-flex justify-content-end">
                <a routerLink="../home" class="text-decoration-none d-flex align-items-center text-black">
                    <span class="material-symbols-outlined">
                        arrow_back_ios
                    </span>Go To Home Page</a>
            </div>
            <div class=" form-body h-100">
                <div class="d-flex gap-2 justify-content-center mb-4">
                    <img src="../../../assets/images/logo.png" alt="logo" height="70px">
                    <div>
                        <h2>जिल्हा परिषद</h2>
                        <h5>उस्मानाबाद</h5>
                    </div>
                </div>
                <mat-tab-group animationDuration="400ms">
                    <mat-tab label="Admin">
                        <mat-form-field appearance="outline" class="w-100 mt-3">
                            <mat-label>User Name</mat-label>
                            <input matInput placeholder="User Name">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="Password">
                        </mat-form-field>

                    </mat-tab>
                    <mat-tab label="Officer">
                        <mat-form-field appearance="outline" class="w-100 mt-3">
                            <mat-label>User Name</mat-label>
                            <input matInput placeholder="User Name">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-100 ">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="Password">
                        </mat-form-field> </mat-tab>
                </mat-tab-group>
                <button mat-flat-button class="btn-main me-2">
                    Submit
                </button>
                <a href="#">Resend OTP</a>

            </div>


        </div>
    </div>