<mat-card class="plain-card">
    <mat-card-header class="card-header">
        <div class="d-flex justify-content-between align-items-center w-100">
            <h6 class="text-main mb-0 fw-bold">Change Password</h6>
            <button mat-icon-button class="btn-modal-close" mat-dialog-close>
                <mat-icon>
                    close
                </mat-icon>
            </button>
        </div>
    </mat-card-header>

    <mat-card-content class="card-body">
        <div class="row">
            <div class="col-sm-6 form-container">
                <div class="mb-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Enter New Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                      </mat-form-field>
                </div>
                <div class="mb-0">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Retype Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                      </mat-form-field>
                </div>
            </div>
            <div class="col-sm-6 text-start">
                <p class="small fw-bold">Passwords must contains</p>
                <ul class="small">
                    <li>At least 8 Characters long</li>
                    <li>At least 1 Lowercase Characters (a-z)</li>
                    <li>At least 1 Uppercase Characters (A-Z)</li>
                    <li>At least 1 Digits(0-9)</li>
                    <li>(*$@#)At least 1 Special Characters (*$@#)</li>
                </ul>
            </div>
        </div>
    </mat-card-content>
    <mat-card-footer class="card-footer">
        <div class="d-flex justify-content-between">
            <button mat-flat-button type="button" class="me-2 btn-second" type="button" mat-dialog-close>Cancel</button>
            <button mat-flat-button type="submit" class="btn-main btn">Submit</button>
        </div>
    </mat-card-footer>
</mat-card>