<mat-card class="plain-card">
    <mat-card-header class="card-header">
        <div class="d-flex align-items-center justify-content-between w-100">
            <h6 class="text-main mb-0">{{'Labels.studentRegistration'| translate}}</h6>
            <button mat-icon-button mat-dialog-close class="btn-modal-close">
                <mat-icon>
                    close
                </mat-icon>
            </button>
        </div>
    </mat-card-header>
    <form [formGroup]="stuRegistrationForm">
        <mat-card-content>
            <h6 class="mb-3">{{'Labels.studentDetails'| translate}}</h6>
            <div class="row">
                <div class="col-sm-4">
                    <!-- <mat-form-field appearance="outline" class="w-100 ">
                    <mat-label>Item Category</mat-label>
                    <mat-select>
                        <mat-option value="one">First option</mat-option>
                        <mat-option value="two">Second option</mat-option>
                    </mat-select>
                </mat-form-field> -->

                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.district'| translate}}</mat-label>
                        <mat-select placeholder="select" formControlName="districtId" [disabled]="stuRegistrationForm.value.districtId == 1">
                            <mat-option *ngFor="let dist of districtArr" [value]="dist.id">{{languageFlag == 'EN' ?
                                dist.district : dist.m_District}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="fc['districtId'].hasError('required')">User Name Is Required</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.taluka'| translate}}</mat-label>
                        <mat-select placeholder="select" formControlName="talukaId">
                            <mat-option *ngFor="let tal of talukaArr" [value]="tal.id">{{languageFlag == 'EN' ?
                                tal.taluka:tal.m_Taluka }}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="fc['talukaId'].hasError('required')">
                            {{'Labels.pleaseSelectTaluka'| translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.kendra'| translate}}</mat-label>
                        <mat-select placeholder="select" formControlName="centerId">
                            <mat-option *ngFor="let cen of centerArr" [value]="cen.id">{{languageFlag == 'EN'
                                ?cen.center:cen.m_Center}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="fc['centerId'].hasError('required')">
                            {{'Labels.pleaseSelectCenter'| translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.schoolList'| translate}}</mat-label>
                        <mat-select placeholder="select" formControlName="schoolId">
                            <mat-option *ngFor="let sch of schoolArr" [value]="sch.id">{{languageFlag == 'EN' ?
                                sch.schoolType:sch. m_SchoolType}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="fc['schoolId'].hasError('required')">
                            {{'Labels.pleaseSelectSchool'| translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.studentFirstName'| translate}}</mat-label>
                        <input matInput formControlName="fName" (keypress)="validators.onlyAlphabets($event)">
                        <mat-error *ngIf="fc['fName'].hasError('required')">{{'Labels.enterStudentFirstName'|
                            translate}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.studentMiddelName'| translate}}</mat-label>
                        <input matInput formControlName="mName" (keypress)="validators.onlyAlphabets($event)">
                        <mat-error *ngIf="fc['mName'].hasError('required')">{{'Labels.enterStudentMiddelName'|
                            translate}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.studentLastName'| translate}}</mat-label>
                        <input matInput formControlName="lName" (keypress)="validators.onlyAlphabets($event)">
                        <mat-error *ngIf="fc['lName'].hasError('required')">{{'Labels.enterStudentLastName'|
                            translate}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.studentFirstNameMarathi'| translate}}</mat-label>
                        <input matInput formControlName="f_MName"
                            (keypress)="validators.unicodeMarathiValidation($event)"
                            (keypress)="validators.noSpaceAllow($event)">
                        <mat-error *ngIf="fc['f_MName'].hasError('required')">{{'Labels.enterStudentFirstName'|
                            translate}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.studentMiddelNameMarathi'| translate}}</mat-label>
                        <input matInput formControlName="m_MName" (keypress)="validators.unicodeMarathiValidation($event)"
                        (keypress)="validators.noSpaceAllow($event)">
                        <mat-error *ngIf="fc['m_MName'].hasError('required')">{{'Labels.enterStudentMiddelName'|
                            translate}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.studentLastNameMarathi'| translate}}</mat-label>
                        <input matInput formControlName="l_MName" (keypress)="validators.unicodeMarathiValidation($event)"
                        (keypress)="validators.noSpaceAllow($event)">
                        <mat-error *ngIf="fc['l_MName'].hasError('required')">{{'Labels.enterStudentLastName'|
                            translate}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <input type="file" id="real-file" (change)="fileUpload($event,'img')" hidden="hidden"
                        #uploadImage />
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.uploadPhoto'| translate}}</mat-label>
                        <input matInput formControlName="photo" readonly >
                        <span class="uploadView">
                            <mat-icon matSuffix *ngIf="!stuRegistrationForm.value.photo">
                                <span class="material-symbols-outlined" (click)="uploadImage.click()">
                                    upload
                                </span>
                            </mat-icon>
                            <mat-icon matSuffix *ngIf="stuRegistrationForm.value.photo" class="w-auto">
                                <span class="material-symbols-outlined" (click)="viewImages('photo')">
                                    visibility
                                </span>
                                <span class="material-symbols-outlined" (click)="deleteImage('photo')">
                                    clear
                                </span>
                            </mat-icon>
                        </span>
                    </mat-form-field>
                    <ng-container *ngIf="imageFlag">
                        <small class="text-danger" style="font-size: 12px;" >Please Upload Image</small>
                    </ng-container>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.standard'| translate}}</mat-label>
                        <mat-select placeholder="select" formControlName="standard">
                            <mat-option *ngFor="let stan of standardArr" [value]="stan.id">{{languageFlag == 'EN'
                                ?stan.standard:stan.m_Standard}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="fc['standard'].hasError('required')">
                            {{'Labels.pleaseSelectStandard'| translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.birthDate'| translate}}</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="dob">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="fc['dob'].hasError('required')">
                            {{'Labels.pleaseSelectBirthDate'| translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.gender'| translate}}</mat-label>
                        <mat-select formControlName="gender">
                            <mat-option *ngFor="let gen of genderArr" [value]="gen.id">{{languageFlag == 'EN'
                                ?gen.gender:gen.m_Gender}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="fc['gender'].hasError('required')"> {{'Labels.pleaseSelectGender'|
                            translate}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.religion'| translate}}</mat-label>
                        <mat-select placeholder="Select" formControlName="religionId" (selectionChange)="getCaste()">
                            <mat-option *ngFor="let reli of religionArr" [value]="reli.id">{{languageFlag == 'EN' ?
                                reli.religion:reli.m_Religion}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="fc['religionId'].hasError('required')"> {{'Labels.pleaseSelectReligion'|
                            translate}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.caste'| translate}}</mat-label>
                        <mat-select formControlName="castId">
                            <mat-option *ngFor="let cast of casteArr" [value]="cast.id">{{languageFlag == 'EN'
                                ?cast.caste:cast.m_Caste}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="fc['castId'].hasError('required')"> {{'Labels.pleaseSelectCaste'|
                            translate}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.physicallyDisabled'| translate}}</mat-label>
                        <mat-select formControlName="physicallyDisabled">
                            <mat-option *ngFor="let phy of physicallyDisabled" [value]="phy.id">{{languageFlag == 'EN'
                                ?phy.eName:phy.mName}}</mat-option>
                        </mat-select>
                        <mat-error
                            *ngIf="fc['physicallyDisabled'].hasError('required')">{{'Labels.pleaseSelectPhysicallyDisabled'|
                            translate}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.saralId'| translate}}</mat-label>
                        <input matInput placeholder="Aadhar Card" formControlName="saralId">
                        <!-- <mat-error *ngIf="fc['saralId'].hasError('required')">{{'Labels.enterSaralId'|
                            translate}}</mat-error> -->
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.aadhaarNo'| translate}}</mat-label>
                        <input matInput formControlName="aadharNo" maxlength="12" minlength="12"
                            (keypress)="validators.onlyDigits($event)">
                        <mat-error *ngIf="fc['aadharNo'].hasError('required')">{{'Labels.enterAadharNo'|
                            translate}}</mat-error>
                        <mat-error *ngIf="fc['aadharNo'].hasError('pattern')">{{'Labels.enterValidAadharNo'|
                            translate}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <input type="file" id="real-file" (change)="fileUpload($event,'aadhar')" hidden="hidden"
                        #uploadAadhar />
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>{{'Labels.aadhaarPhoto'| translate}}</mat-label>
                        <input matInput formControlName="aadharPhoto" readonly> 
                        <span class="aadhar-uploadView">
                            <mat-icon matSuffix *ngIf="!stuRegistrationForm.value.aadharPhoto">
                                <span class="material-symbols-outlined" (click)="uploadAadhar.click()">
                                    upload
                                </span>
                            </mat-icon>
                            <mat-icon matSuffix *ngIf="stuRegistrationForm.value.aadharPhoto" class="w-auto">
                                <span class="material-symbols-outlined" (click)="viewImages('aadharPhoto')">
                                    visibility
                                </span>
                                <span class="material-symbols-outlined" (click)="deleteImage('aadharPhoto')">
                                    clear
                                </span>
                            </mat-icon>
                        </span>
                    </mat-form-field>      
                    <ng-container *ngIf="aadhaarFlag">
                        <small class="text-danger" style="font-size: 12px;" >Please Upload Aadhar Image</small>       
                    </ng-container>
                           
                </div>
                
            </div>
            <h6 class="mb-3">{{'Labels.gardiantDetails'| translate}}</h6>
            <div class="row">
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.parentMobileNo'| translate}}</mat-label>
                        <input matInput formControlName="mobileNo" maxlength="10" minlength="10"
                            (keypress)="validators.onlyDigits($event)">
                        <mat-error *ngIf="fc['mobileNo'].hasError('required')">{{'Labels.enterParentMobileNo'|
                            translate}}</mat-error>
                        <mat-error *ngIf="fc['mobileNo'].hasError('pattern')">{{'Labels.enterValidParentMobileNo'|
                            translate}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.fatherName'| translate}}</mat-label>
                        <input matInput formControlName="fatherFullName" (keypress)="validators.onlyAlphabets($event)" maxlength="50">
                        <mat-error *ngIf="fc['fatherFullName'].hasError('required')">{{'Labels.enterFatherName'|
                            translate}}</mat-error>
                    </mat-form-field>
                </div>
                <!-- <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Father Marathi Name</mat-label>
                        <input matInput formControlName="m_FatherFullName">
                        <mat-error *ngIf="fc['m_FatherFullName'].hasError('required')">Enter Father Full Name
                        </mat-error>
                    </mat-form-field>
                </div> -->
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Labels.motherName'| translate}}</mat-label>
                        <input matInput formControlName="motherName" maxlength="50" (keypress)="validators.onlyAlphabets($event)">
                        <mat-error *ngIf="fc['motherName'].hasError('required')">{{'Labels.enterMotherName'| translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Mother Marathi Name</mat-label>
                        <input matInput formControlName="m_MotherName">
                        <mat-error *ngIf="fc['m_MotherName'].hasError('required')">Enter Mother Name </mat-error>
                    </mat-form-field>
                </div> -->
                <!-- <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Email ID</mat-label>
                        <input matInput formControlName="emailID">
                    </mat-form-field>
                </div> -->
            </div>
        </mat-card-content>
        <mat-card-footer class="card-footer">
            <mat-card-actions align="end">
                <button class="btn btn-outline-secondary me-2" type="button" mat-dialog-close>{{'Labels.cancel'|
                    translate}}</button>
                <button class="btn btn-main " (click)="onSubmit()">{{editFlag ? ('Labels.update'|
                    translate):('Labels.submit'| translate)}}</button>
            </mat-card-actions>
        </mat-card-footer>
    </form>
</mat-card>