
<form [formGroup]="stuRegistrationForm" #clear="ngForm">
<mat-card class="plain-card">
    <mat-card-header class="card-header">
        <div class="d-flex align-items-center justify-content-between w-100">
            <h6 class="text-main mb-0">Register Student</h6>
            <button mat-icon-button mat-dialog-close class="btn-modal-close">
                <mat-icon>
                    close
                </mat-icon>
            </button>
        </div>
    </mat-card-header>
    
        <mat-card-content>
            <h6 class="mb-3">Student Details</h6>
            <div class="row">
                <div class="col-sm-4">
                    <!-- <mat-form-field appearance="outline" class="w-100 ">
                    <mat-label>Item Category</mat-label>
                    <mat-select>
                        <mat-option value="one">First option</mat-option>
                        <mat-option value="two">Second option</mat-option>
                    </mat-select>
                </mat-form-field> -->

                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>District</mat-label>
                        <mat-select placeholder="select" formControlName="districtId" >
                            <mat-option *ngFor="let dist of districtArr"
                                [value]="dist.id">{{dist.district}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="fc['districtId'].hasError('required')">User Name Is Required</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>Taluka</mat-label>
                        <mat-select placeholder="select" formControlName="talukaId">
                            <mat-option *ngFor="let tal of talukaArr" [value]="tal.id">{{tal.taluka}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="fc['talukaId'].hasError('required')">Select Taluka</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>Kendra</mat-label>
                        <mat-select placeholder="select" formControlName="centerId">
                            <mat-option *ngFor="let cen of centerArr" [value]="cen.id">{{cen.center}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="fc['centerId'].hasError('required')">Select Kendra</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>School</mat-label>
                        <mat-select placeholder="select" formControlName="schoolId">
                            <mat-option *ngFor="let sch of schoolArr" [value]="sch.id">{{sch.schoolType}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="fc['schoolId'].hasError('required')">Select School</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Student First Name</mat-label>
                        <input matInput formControlName="fName"
                        (keypress)="validators.onlyAlphabets($event)"> 
                        <mat-error *ngIf="fc['fName'].hasError('required')">Enter First Name</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Student Middel Name</mat-label>
                        <input matInput formControlName="mName"
                        (keypress)="validators.onlyAlphabets($event)">
                        <mat-error *ngIf="fc['mName'].hasError('required')">Enter Middel Name</mat-error>
                    </mat-form-field>
                </div>
                 <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Student Last Name</mat-label>
                        <input matInput formControlName="lName"
                        (keypress)="validators.onlyAlphabets($event)">
                        <mat-error *ngIf="fc['lName'].hasError('required')">Enter Last Name</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Student Marathi First Name</mat-label>
                        <input matInput formControlName="f_MName">
                        <mat-error *ngIf="fc['f_MName'].hasError('required')">Enter Marathi First Name</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Student Marathi Middel Name</mat-label>
                        <input matInput formControlName="m_MName">
                        <mat-error *ngIf="fc['m_MName'].hasError('required')">Enter Marathi Middel Name</mat-error>
                    </mat-form-field>
                </div>
                 <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Student Marathi Last Name</mat-label>
                        <input matInput formControlName="l_MName">
                        <mat-error *ngIf="fc['l_MName'].hasError('required')">Enter Marathi Last Name</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <input type="file" id="real-file" (change)="fileUpload($event,'img')" hidden="hidden"
                        #uploadImage />
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>Upload Photo</mat-label>
                        <input matInput>
                        <mat-icon matSuffix>
                            <span class="material-symbols-outlined" (click)="uploadImage.click()">
                                upload
                            </span>
                        </mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>Standard</mat-label>
                        <mat-select placeholder="select" formControlName="standard">
                            <mat-option *ngFor="let stan of standardArr"
                                [value]="stan.id">{{stan.standard}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="fc['standard'].hasError('required')">Select standard</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Birth Date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="dob">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="fc['dob'].hasError('required')">Select Date Of Birth</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>Gender</mat-label>
                        <mat-select formControlName="gender">
                            <mat-option *ngFor="let gen of genderArr" [value]="gen.id">{{gen.gender}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="fc['gender'].hasError('required')">Select Gender</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>Religion</mat-label>
                        <mat-select placeholder="Select" formControlName="religionId" (selectionChange)="getCaste()">
                            <mat-option *ngFor="let reli of religionArr"
                                [value]="reli.id">{{reli.religion}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="fc['religionId'].hasError('required')">Select Religion</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Cast</mat-label>
                        <mat-select formControlName="castId">
                            <mat-option *ngFor="let cast of casteArr" [value]="cast.id" >{{cast.caste}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="fc['castId'].hasError('required')">Select Caste</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>physically Disabled</mat-label>
                        <mat-select formControlName="physicallyDisabled">
                            <mat-option *ngFor="let phy of physicallyDisabled" [value]="phy.id">{{phy.name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="fc['physicallyDisabled'].hasError('required')">Select Physically Disabled</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Saral ID</mat-label>
                        <input matInput placeholder="Aadhar Card" formControlName="saralId">
                        <mat-error *ngIf="fc['saralId'].hasError('required')">Enter Saral Id</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>Aadhar No.</mat-label>
                        <input matInput formControlName="aadharNo" maxlength="12" minlength="12">
                        <mat-error *ngIf="fc['aadharNo'].hasError('required')">Enter Aadhar No</mat-error>
                        <mat-error *ngIf="fc['aadharNo'].hasError('pattern')">Enter Valid Aadhar Number</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <input type="file" id="real-file" (change)="fileUpload($event,'aadhar')" hidden="hidden"
                        #uploadAadhar />
                    <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>Aadhar Photo</mat-label>
                        <input matInput>
                        <mat-icon matSuffix>
                            <span class="material-symbols-outlined" (click)="uploadAadhar.click()">
                                upload
                            </span>
                        </mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <h6 class="mb-3">Gaurdian Details</h6>
            <div class="row">
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Parents Mobile No.</mat-label>
                        <input matInput formControlName="mobileNo" maxlength="10" minlength="10">
                        <mat-error *ngIf="fc['mobileNo'].hasError('required')">Enter Mobile No</mat-error>
                        <mat-error *ngIf="fc['mobileNo'].hasError('pattern')">Enter Valid Mobile Number</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Father Name</mat-label>
                        <input matInput formControlName="fatherFullName"
                        (keypress)="validators.onlyAlphabets($event)">
                        <mat-error *ngIf="fc['fatherFullName'].hasError('required')">Enter Father Full Name</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Father Marathi Name</mat-label>
                        <input matInput formControlName="m_FatherFullName"> 
                        <mat-error *ngIf="fc['m_FatherFullName'].hasError('required')">Enter Father Full Name </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Mother Name</mat-label>
                        <input matInput formControlName="motherName"
                        (keypress)="validators.onlyAlphabets($event)">
                        <mat-error *ngIf="fc['motherName'].hasError('required')">Enter Mother Name </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Mother Marathi Name</mat-label>
                        <input matInput formControlName="m_MotherName">
                        <mat-error *ngIf="fc['m_MotherName'].hasError('required')">Enter Mother Name </mat-error>
                    </mat-form-field>
                </div>
                <!-- <div class="col-sm-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Email ID</mat-label>
                        <input matInput formControlName="emailID">
                    </mat-form-field>
                </div> -->
            </div>
        </mat-card-content>
        <mat-card-footer class="card-footer">
            <mat-card-actions align="end">
                <button class="btn btn-outline-secondary me-2" type="button" mat-dialog-close >Cancel</button>
                <button class="btn btn-main " (click)="onSubmit()">{{editFlag ? 'Update':'Submit'}}</button>
            </mat-card-actions>
        </mat-card-footer>
</mat-card>
</form>